Solutions/mpa_HardwareRequestAndManagement/src/Workflows/NotifyDeliverComplete-1C16FFDA-8869-EE11-9AE7-00224808117C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_teams_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementTeams"
        },
        "api": {
          "name": "shared_teams"
        }
      },
      "shared_cardsforpowerapps_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementCardsforPowerApps"
        },
        "api": {
          "name": "shared_cardsforpowerapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementOffice365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Hardware Request App URL (mpa_HardwareRequestAppURL)": {
          "defaultValue": "https://apps.powerapps.com/play/e/eeaa0e43-89e2-e04a-b9b3-eba854640e09/a/d738957b-cd2b-4b09-9f46-da1af634515a?tenantId=fe2dcd3b-6648-414a-8c8e-8761944769ce&hint=797af261-6a59-48f7-a8cd-76686b5cbcb0&sourcetime=1696528616029",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_HardwareRequestAppURL",
            "description": "Environment Variable for Asset Management"
          }
        }
      },
      "triggers": {
        "manual": {
          "splitOn": "@triggerBody()['rows']",
          "metadata": {
            "operationMetadataId": "26b3c934-b4b9-40ae-ac7b-9d1a4d28bf75"
          },
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "object",
                            "properties": {
                              "BPFInstanceId": {
                                "title": "BPF Instance Id",
                                "type": "string"
                              },
                              "FlowsWorkflowLogId": {
                                "title": "Flows Workflow Log Id",
                                "type": "string"
                              },
                              "BPFInstanceEntityName": {
                                "title": "BPF Instance Table Name",
                                "type": "string"
                              },
                              "BPFDefinitionId": {
                                "title": "BPF Definition Id",
                                "type": "string"
                              },
                              "BPFDefinitionEntityName": {
                                "title": "BPF Definition Table Name",
                                "type": "string"
                              },
                              "StepId": {
                                "title": "Step Id",
                                "type": "string"
                              },
                              "BPFDefinitionName": {
                                "title": "BPF Definition Name",
                                "type": "string"
                              },
                              "BPFInstanceName": {
                                "title": "BPF Instance Name",
                                "type": "string"
                              },
                              "BPFFlowStageLocalizedName": {
                                "title": "BPF Flow Stage Localized Name",
                                "type": "string"
                              },
                              "BPFFlowStageEntityName": {
                                "title": "BPF Flow Stage Table Name",
                                "type": "string"
                              },
                              "BPFFlowStageEntityCollectionName": {
                                "title": "BPF Flow Stage Table Collection Name",
                                "type": "string"
                              },
                              "BPFFlowStageEntityRecordId": {
                                "title": "BPF Flow Stage Table Row Id",
                                "type": "string"
                              },
                              "BPFActiveStageId": {
                                "title": "BPF Active Stage Id",
                                "type": "string"
                              },
                              "BPFActiveStageEntityName": {
                                "title": "BPF Active Stage Table Name",
                                "type": "string"
                              },
                              "BPFActiveStageLocalizedName": {
                                "title": "BPF Active Stage Localized Name",
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "entity"
                        ]
                      }
                    },
                    "required": [
                      "entity"
                    ]
                  }
                }
              },
              "required": [
                "rows"
              ]
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_commondataserviceforapps_1']['connectionId']"
              }
            },
            "operationId": "FlowStepRun",
            "parameters": {},
            "headersSchema": {
              "x-ms-user-name-encoded": {
                "title": "User name",
                "type": "string",
                "format": "byte",
                "x-ms-dynamically-added": false
              },
              "x-ms-user-email-encoded": {
                "title": "User email",
                "type": "string",
                "format": "byte",
                "x-ms-dynamically-added": false
              },
              "x-ms-user-timestamp": {
                "title": "Timestamp",
                "type": "string",
                "x-ms-dynamically-added": false
              }
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Create_a_chat": {
              "runAfter": {
                "Create_card_instance_-_Request_Delivered": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a079f314-b184-4aa0-98e2-edcf29a36331"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams_1",
                  "operationId": "CreateChat",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "item/members": "@outputs('Get_Submitted_By')?['body/domainname']",
                  "item/topic": "@outputs('Get_Hardware_Request')?['body/mpa_name']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Compose_-_CSS_Table_Style": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ad7ea4c4-31a7-49f7-b5c0-2c5a0f959cd0"
              },
              "type": "Compose",
              "inputs": "<style>\nTable {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #EEEEEE;\n  border-collapse: collapse;\n  width: 100%;\n}\n\nTable td, Table th {\n  border: 1px solid #ddd;\n  padding: 3px 3px;\n}\n\nTable th {\n  font-size: 15px;\n  font-weight: bold;\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #1C6EA4;\n  color: white;\n}\n</style>"
            },
            "Compose_-_Deeplink_href": {
              "runAfter": {
                "Get_Hardware_Request": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "583add5f-9c8a-4e0b-80b7-d6aeca8cbbb3"
              },
              "type": "Compose",
              "inputs": "@concat('<a href=\"',parameters('Hardware Request App URL (mpa_HardwareRequestAppURL)'),'&hardwarerequest=',outputs('Get_Hardware_Request')?['body/mpa_hardwarerequestid'],'\">here</a>')"
            },
            "Get_Submitted_By": {
              "runAfter": {
                "Compose_-_Deeplink_href": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fde9cd3e-d98a-44de-855d-33a4a3ec65cf"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_Hardware_Request')?['body/_mpa_submittedby_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_BPF_Instance": {
              "runAfter": {
                "Compose_-_CSS_Table_Style": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "860e920b-4b56-4cf7-8730-07b2204312c1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_hardwarerequestbpfs",
                  "recordId": "@triggerBody()?['entity']?['entity']?['BPFInstanceId']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Hardware_Request": {
              "runAfter": {
                "Get_BPF_Instance": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cf66e874-1474-4012-bbda-235a63c7e5ee"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_hardwarerequests",
                  "recordId": "@outputs('Get_BPF_Instance')?['body/_bpf_mpa_hardwarerequestid_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Received_Assets": {
              "runAfter": {
                "Get_Submitted_By": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "55f09dac-5bd4-4697-bd2f-ce756b0a6a71"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_assets",
                  "$filter": "_mpa_hardwarerequest_value eq '@{outputs('Get_Hardware_Request')?['body/mpa_hardwarerequestid']}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Select_Delivered_Assets": {
              "runAfter": {
                "Get_Received_Assets": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fc07a9d6-8ba4-4872-b1eb-39c530a789ad"
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('Get_Received_Assets')?['body/value']",
                "select": {
                  "Asset Number": "@item()?['mpa_assetnumber']",
                  "Name": "@item()?['mpa_name']",
                  "Delivered On": "@if(\r\n   empty(item()?['mpa_deliveredon']),\r\n   '',\r\n   formatDateTime(parseDateTime(item()?['mpa_deliveredon']), 'MM/dd/yyyy', 'en-US')\r\n)"
                }
              }
            },
            "Create_HTML_table_-_Delivered_Assets": {
              "runAfter": {
                "Select_Delivered_Assets": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "defe65e6-548e-4d9b-bd40-ce2b91f0c737"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Select_Delivered_Assets')",
                "format": "HTML"
              }
            },
            "Create_card_instance_-_Request_Delivered": {
              "runAfter": {
                "Create_HTML_table_-_Delivered_Assets": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3418063e-0c83-4bce-a7e4-6bd94dce1442"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_cardsforpowerapps_1",
                  "operationId": "CreateCardInstance",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_cardsforpowerapps"
                },
                "parameters": {
                  "cardId": "cb631c03-296d-ee11-8df0-00224808117c",
                  "cardRequest/inputs/varHardwareRequestID": "@outputs('Get_Hardware_Request')?['body/mpa_hardwarerequestid']",
                  "cardRequest/inputs/varHardwareRequestAppURL": "@parameters('Hardware Request App URL (mpa_HardwareRequestAppURL)')"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Post_Received_Card": {
              "runAfter": {
                "Create_a_chat": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "58be3973-e40e-46f5-8459-042300969109"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams_1",
                  "operationId": "PostCardToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "poster": "Power Apps",
                  "location": "Group chat",
                  "body/recipient": "@outputs('Create_a_chat')?['body/id']",
                  "body/messageBody": "@outputs('Create_card_instance_-_Request_Delivered')?['body/Card']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Send_an_email_-_Delivered": {
              "runAfter": {
                "Create_card_instance_-_Request_Delivered": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "00081394-a1b2-4daa-a6d0-1753740bfc19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Get_Submitted_By')?['body/domainname']",
                  "emailMessage/Subject": "@{outputs('Get_Hardware_Request')?['body/mpa_name']} - Delivered Items Complete",
                  "emailMessage/Body": "<p>The following hardware assets have been delivered to you for request '<strong></strong><strong>@{outputs('Get_Hardware_Request')?['body/mpa_name']}</strong><strong></strong>' noting any assets that are eligible for a refresh and when. We have now completed out the request. You can always view the request history @{outputs('Compose_-_Deeplink_href')}.<br>\n<br>\n<strong>Hardware Assets:<br>\n</strong><strong>@{outputs('Compose_-_CSS_Table_Style')}</strong><strong></strong><strong>@{body('Create_HTML_table_-_Delivered_Assets')}</strong><strong><br>\n</strong>As a next step, you will be notified when any of the eligible assets are due for a refresh.</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Update_Process_Log_Success": {
              "runAfter": {
                "Send_an_email_-_Delivered": [
                  "Succeeded"
                ],
                "Post_Received_Card": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "90ccb66c-9bda-4ef7-8a68-2083903719d4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "workflowlogs",
                  "recordId": "@triggerBody()?['entity']?['entity']?['FlowsWorkflowLogId']",
                  "item/status": 2
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8ef86d6a-f230-4bc4-b2ab-a8a893928238"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7c6ea790-c936-46aa-83db-be2ec1ccd40e"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Create_Error": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5c35d961-18c9-4833-a8ab-0e2b67d4e70e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_iterrors",
                  "item/mpa_name": "@workflow()?['tags']['flowDisplayName']",
                  "item/mpa_action": "@outputs('Filter_array')?['body'][0]['name']",
                  "item/mpa_additionalinformation": "Name: , Request Number: ",
                  "item/mpa_errormessage": "@concat(item()?['outputs']?['body']?['error']?['innerError']?['error']?['message'],' ',item()?['error']?['message'])",
                  "item/mpa_sourcetype": 865420001,
                  "item/mpa_workflowinstanceurl": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Update_Process_Log_Failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4b0b3204-edb6-46b9-9ec9-ad13db87f56a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Update_Process_Log_Failed": {
              "runAfter": {
                "Create_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fe784e51-3136-4ad8-95f9-88afeba9b2a5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "workflowlogs",
                  "recordId": "@triggerBody()?['entity']?['entity']?['FlowsWorkflowLogId']",
                  "item/status": 3
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "f8635815-3d8c-47f4-953a-1b0282c82f23"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}