Solutions/mpa_HardwareRequestAndManagement/src/Workflows/NotifyRequestComplete-F8B85E82-8769-EE11-9AE7-00224808117C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_teams_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementTeams"
        },
        "api": {
          "name": "shared_teams"
        }
      },
      "shared_cardsforpowerapps_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementCardsforPowerApps"
        },
        "api": {
          "name": "shared_cardsforpowerapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementOffice365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Hardware Request App URL (mpa_HardwareRequestAppURL)": {
          "defaultValue": "https://apps.powerapps.com/play/e/91329bce-53a5-ea79-8fe9-19f97886f70e/a/2a6fd12f-1735-4410-85ce-858a3217f015?tenantId=fe2dcd3b-6648-414a-8c8e-8761944769ce&hint=73846937-cc14-4506-81a4-267bb6640689&sourcetime=1730769660767&source=portal",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_HardwareRequestAppURL",
            "description": "Used to store the URL of the Hardware Request canvas app"
          }
        }
      },
      "triggers": {
        "manual": {
          "splitOn": "@triggerBody()['rows']",
          "metadata": {
            "operationMetadataId": "26b3c934-b4b9-40ae-ac7b-9d1a4d28bf75"
          },
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "object",
                            "properties": {
                              "BPFInstanceId": {
                                "title": "BPF Instance Id",
                                "type": "string"
                              },
                              "FlowsWorkflowLogId": {
                                "title": "Flows Workflow Log Id",
                                "type": "string"
                              },
                              "BPFInstanceEntityName": {
                                "title": "BPF Instance Table Name",
                                "type": "string"
                              },
                              "BPFDefinitionId": {
                                "title": "BPF Definition Id",
                                "type": "string"
                              },
                              "BPFDefinitionEntityName": {
                                "title": "BPF Definition Table Name",
                                "type": "string"
                              },
                              "StepId": {
                                "title": "Step Id",
                                "type": "string"
                              },
                              "BPFDefinitionName": {
                                "title": "BPF Definition Name",
                                "type": "string"
                              },
                              "BPFInstanceName": {
                                "title": "BPF Instance Name",
                                "type": "string"
                              },
                              "BPFFlowStageLocalizedName": {
                                "title": "BPF Flow Stage Localized Name",
                                "type": "string"
                              },
                              "BPFFlowStageEntityName": {
                                "title": "BPF Flow Stage Table Name",
                                "type": "string"
                              },
                              "BPFFlowStageEntityCollectionName": {
                                "title": "BPF Flow Stage Table Collection Name",
                                "type": "string"
                              },
                              "BPFFlowStageEntityRecordId": {
                                "title": "BPF Flow Stage Table Row Id",
                                "type": "string"
                              },
                              "BPFActiveStageId": {
                                "title": "BPF Active Stage Id",
                                "type": "string"
                              },
                              "BPFActiveStageEntityName": {
                                "title": "BPF Active Stage Table Name",
                                "type": "string"
                              },
                              "BPFActiveStageLocalizedName": {
                                "title": "BPF Active Stage Localized Name",
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "entity"
                        ]
                      }
                    },
                    "required": [
                      "entity"
                    ]
                  }
                }
              },
              "required": [
                "rows"
              ]
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_commondataserviceforapps_1']['connectionId']"
              }
            },
            "operationId": "FlowStepRun",
            "parameters": {},
            "headersSchema": {
              "x-ms-user-name-encoded": {
                "title": "User name",
                "type": "string",
                "format": "byte",
                "x-ms-dynamically-added": false
              },
              "x-ms-user-email-encoded": {
                "title": "User email",
                "type": "string",
                "format": "byte",
                "x-ms-dynamically-added": false
              },
              "x-ms-user-timestamp": {
                "title": "Timestamp",
                "type": "string",
                "x-ms-dynamically-added": false
              }
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Create_a_chat": {
              "runAfter": {
                "Create_card_instance_-_Request_Completed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a079f314-b184-4aa0-98e2-edcf29a36331"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams_1",
                  "operationId": "CreateChat",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "item/members": "@outputs('Get_Submitted_By')?['body/domainname']",
                  "item/topic": "@outputs('Get_Hardware_Request')?['body/mpa_name']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Compose_-_CSS_Table_Style": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ad7ea4c4-31a7-49f7-b5c0-2c5a0f959cd0"
              },
              "type": "Compose",
              "inputs": "<style>\nTable {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #EEEEEE;\n  border-collapse: collapse;\n  width: 100%;\n}\n\nTable td, Table th {\n  border: 1px solid #ddd;\n  padding: 3px 3px;\n}\n\nTable th {\n  font-size: 15px;\n  font-weight: bold;\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #1C6EA4;\n  color: white;\n}\n</style>"
            },
            "Compose_-_Deeplink_href": {
              "runAfter": {
                "Get_Hardware_Request": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "583add5f-9c8a-4e0b-80b7-d6aeca8cbbb3"
              },
              "type": "Compose",
              "inputs": "@concat('<a href=\"',parameters('Hardware Request App URL (mpa_HardwareRequestAppURL)'),'&hardwarerequest=',outputs('Get_Hardware_Request')?['body/mpa_hardwarerequestid'],'\">here</a>')"
            },
            "Get_Submitted_By": {
              "runAfter": {
                "Compose_-_Deeplink_href": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fde9cd3e-d98a-44de-855d-33a4a3ec65cf"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_Hardware_Request')?['body/_mpa_submittedby_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_BPF_Instance": {
              "runAfter": {
                "Compose_-_CSS_Table_Style": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "860e920b-4b56-4cf7-8730-07b2204312c1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_hardwarerequestbpfs",
                  "recordId": "@triggerBody()?['entity']?['entity']?['BPFInstanceId']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Hardware_Request": {
              "runAfter": {
                "Get_BPF_Instance": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cf66e874-1474-4012-bbda-235a63c7e5ee"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_hardwarerequests",
                  "recordId": "@outputs('Get_BPF_Instance')?['body/_bpf_mpa_hardwarerequestid_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Delivered_Assets": {
              "runAfter": {
                "Get_Submitted_By": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d1fa2155-6f8d-4086-9d1d-94ba7a594c0d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_assets",
                  "$filter": "_mpa_hardwarerequest_value eq '@{outputs('Get_Hardware_Request')?['body/mpa_hardwarerequestid']}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Select_Delivered_Assets": {
              "runAfter": {
                "Get_Delivered_Assets": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c2c1bc01-e975-4eda-922a-208b3f0986c5"
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('Get_Delivered_Assets')?['body/value']",
                "select": {
                  "Asset Number": "@item()?['mpa_assetnumber']",
                  "Name": "@item()?['mpa_name']",
                  "Delivered On": "@if(empty(item()?['mpa_deliveredon']),'',formatDateTime(parseDateTime(item()?['mpa_deliveredon']), 'MM/dd/yyyy', 'en-US'))",
                  "Refresh Eligible On": "@if(empty(item()?['mpa_refresheligibleon']),\r\n'',\r\nformatDateTime(parseDateTime(item()?['mpa_refresheligibleon']), 'MM/dd/yyyy', 'en-US')\r\n)"
                }
              }
            },
            "Create_HTML_table_-_Delivered_Assets": {
              "runAfter": {
                "Select_Delivered_Assets": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "10c3ffb2-2fda-4dbf-bf7a-8b4077000a5a"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Select_Delivered_Assets')",
                "format": "HTML"
              }
            },
            "Post_Completed_Card": {
              "runAfter": {
                "Create_a_chat": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "455c867a-9c76-4d14-a607-50a5b0a0dd5d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams_1",
                  "operationId": "PostCardToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "poster": "Power Apps",
                  "location": "Group chat",
                  "body/recipient": "@outputs('Create_a_chat')?['body/id']",
                  "body/messageBody": "@outputs('Create_card_instance_-_Request_Completed')?['body/Card']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Create_card_instance_-_Request_Completed": {
              "runAfter": {
                "Create_HTML_table_-_Delivered_Assets": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "82a1109d-b015-494b-89e0-8d75d0943155"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_cardsforpowerapps_1",
                  "operationId": "CreateCardInstance",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_cardsforpowerapps"
                },
                "parameters": {
                  "cardId": "e2e1398e-2967-ee11-9ae7-002248081a55",
                  "cardRequest/inputs/varHardwareRequestID": "@outputs('Get_Hardware_Request')?['body/mpa_hardwarerequestid']",
                  "cardRequest/inputs/varHardwareRequestAppURL": "@parameters('Hardware Request App URL (mpa_HardwareRequestAppURL)')"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Send_an_email_-_Complete": {
              "runAfter": {
                "Create_card_instance_-_Request_Completed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7b59d436-bb8a-4c23-b630-33b2530832b2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Get_Submitted_By')?['body/domainname']",
                  "emailMessage/Subject": "@{outputs('Get_Hardware_Request')?['body/mpa_name']}- Completed",
                  "emailMessage/Body": "<p>Your request '<strong></strong><strong>@{outputs('Get_Hardware_Request')?['body/mpa_name']}</strong><strong></strong>' is now complete. You can always view the history of your request @{outputs('Compose_-_Deeplink_href')}.<br>\n<br>\nAs a next step, you will be contacted in the future if and when the asset is due for a refresh.<br>\n<br>\nThank you!</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Update_Process_Log_Success": {
              "runAfter": {
                "Send_an_email_-_Complete": [
                  "Succeeded"
                ],
                "Post_Completed_Card": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fb38450b-4265-41f8-a236-1724c46949a9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "workflowlogs",
                  "recordId": "@triggerBody()?['entity']?['entity']?['FlowsWorkflowLogId']",
                  "item/status": 2
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8ef86d6a-f230-4bc4-b2ab-a8a893928238"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7c6ea790-c936-46aa-83db-be2ec1ccd40e"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Terminate": {
              "runAfter": {
                "Update_Process_Log_Failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4b0b3204-edb6-46b9-9ec9-ad13db87f56a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Update_Process_Log_Failed": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b0829270-683c-4bb6-a346-9596f618c682"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "workflowlogs",
                  "recordId": "@triggerBody()?['entity']?['entity']?['FlowsWorkflowLogId']",
                  "item/status": 3
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "f8635815-3d8c-47f4-953a-1b0282c82f23"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}