Solutions/mpa_HardwareRequestAndManagement/src/Workflows/NotifyReviewComplete-5B8BD571-6C69-EE11-9AE7-002248081A55.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_teams_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementTeams"
        },
        "api": {
          "name": "shared_teams"
        }
      },
      "shared_cardsforpowerapps_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementCardsforPowerApps"
        },
        "api": {
          "name": "shared_cardsforpowerapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_HardwareRequestAndManagementOffice365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Hardware Request App URL (mpa_HardwareRequestAppURL)": {
          "defaultValue": "https://apps.powerapps.com/play/e/eeaa0e43-89e2-e04a-b9b3-eba854640e09/a/d738957b-cd2b-4b09-9f46-da1af634515a?tenantId=fe2dcd3b-6648-414a-8c8e-8761944769ce&hint=797af261-6a59-48f7-a8cd-76686b5cbcb0&sourcetime=1696528616029",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_HardwareRequestAppURL",
            "description": "Environment Variable for Asset Management"
          }
        }
      },
      "triggers": {
        "manual": {
          "splitOn": "@triggerBody()['rows']",
          "metadata": {
            "operationMetadataId": "26b3c934-b4b9-40ae-ac7b-9d1a4d28bf75"
          },
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "object",
                            "properties": {
                              "BPFInstanceId": {
                                "title": "BPF Instance Id",
                                "type": "string"
                              },
                              "FlowsWorkflowLogId": {
                                "title": "Flows Workflow Log Id",
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "entity"
                        ]
                      }
                    },
                    "required": [
                      "entity"
                    ]
                  }
                }
              },
              "required": [
                "rows"
              ]
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_commondataserviceforapps_1']['connectionId']"
              }
            },
            "operationId": "FlowStepRun",
            "parameters": {}
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Get_Approved_By": {
              "runAfter": {
                "Get_Submitted_By": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6513b382-3fbd-4017-9ff1-c7a449a893ce"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_Hardware_Request')?['body/_mpa_approvedby_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Compose_-_CSS_Table_Style": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ad7ea4c4-31a7-49f7-b5c0-2c5a0f959cd0"
              },
              "type": "Compose",
              "inputs": "<style>\nTable {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #EEEEEE;\n  border-collapse: collapse;\n  width: 100%;\n}\n\nTable td, Table th {\n  border: 1px solid #ddd;\n  padding: 3px 3px;\n}\n\nTable th {\n  font-size: 15px;\n  font-weight: bold;\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #1C6EA4;\n  color: white;\n}\n</style>"
            },
            "Compose_-_Deeplink_href": {
              "runAfter": {
                "Get_Hardware_Request": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "583add5f-9c8a-4e0b-80b7-d6aeca8cbbb3"
              },
              "type": "Compose",
              "inputs": "@concat('<a href=\"',parameters('Hardware Request App URL (mpa_HardwareRequestAppURL)'),'&hardwarerequest=',outputs('Get_Hardware_Request')?['body/mpa_hardwarerequestid'],'\">here</a>')"
            },
            "Get_Submitted_By": {
              "runAfter": {
                "Compose_-_Deeplink_href": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fde9cd3e-d98a-44de-855d-33a4a3ec65cf"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_Hardware_Request')?['body/_mpa_submittedby_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_BPF_Instance": {
              "runAfter": {
                "Compose_-_CSS_Table_Style": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "860e920b-4b56-4cf7-8730-07b2204312c1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_hardwarerequestbpfs",
                  "recordId": "@triggerBody()?['entity']?['entity']?['BPFInstanceId']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Hardware_Request": {
              "runAfter": {
                "Get_BPF_Instance": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cf66e874-1474-4012-bbda-235a63c7e5ee"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_hardwarerequests",
                  "recordId": "@outputs('Get_BPF_Instance')?['body/_bpf_mpa_hardwarerequestid_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Switch": {
              "runAfter": {
                "Get_Approved_By": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Approved": {
                  "case": 865420002,
                  "actions": {
                    "Post_Approved_Card": {
                      "runAfter": {
                        "Create_a_chat_-_Approved": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "52c4d48d-f04b-4eb6-8dd2-4e64ae5e0d7e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_teams_1",
                          "operationId": "PostCardToConversation",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                        },
                        "parameters": {
                          "poster": "Power Apps",
                          "location": "Group chat",
                          "body/recipient": "@outputs('Create_a_chat_-_Approved')?['body/id']",
                          "body/messageBody": "@outputs('Create_card_instance_-_Approved')?['body/Card']"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Create_card_instance_-_Approved": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "08648ac6-11fc-45b6-b98e-8ff1c8690f08"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_cardsforpowerapps_1",
                          "operationId": "CreateCardInstance",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_cardsforpowerapps"
                        },
                        "parameters": {
                          "cardId": "ca165196-2167-ee11-9ae7-0022480814aa",
                          "cardRequest/inputs/varHardwareRequestID": "@outputs('Get_Hardware_Request')?['body/mpa_hardwarerequestid']",
                          "cardRequest/inputs/varHardwareRequestAppURL": "@parameters('Hardware Request App URL (mpa_HardwareRequestAppURL)')"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Create_a_chat_-_Approved": {
                      "runAfter": {
                        "Create_card_instance_-_Approved": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a079f314-b184-4aa0-98e2-edcf29a36331"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_teams_1",
                          "operationId": "CreateChat",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                        },
                        "parameters": {
                          "item/members": "@outputs('Get_Submitted_By')?['body/domainname']",
                          "item/topic": "@outputs('Get_Hardware_Request')?['body/mpa_name']"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Send_an_email_-_Approved": {
                      "runAfter": {
                        "Create_card_instance_-_Approved": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3ef41f55-57a9-445a-ad52-c7c605609f05"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@outputs('Get_Submitted_By')?['body/domainname']",
                          "emailMessage/Subject": "@{outputs('Get_Hardware_Request')?['body/mpa_name']} - Review Complete & Approved",
                          "emailMessage/Body": "<p>Congratulations, you hardware request '' has been reviewed and approved! See below for additional approval comments and you can always view the latest status of your request @{outputs('Compose_-_Deeplink_href')}.<br>\n<br>\n<strong>Approved By: </strong>@{outputs('Get_Approved_By')?['body/fullname']}<strong><br>\nApproval Comments: </strong>@{outputs('Get_Hardware_Request')?['body/mpa_approvalcomments']}<strong><br>\n<br>\n</strong>As a next step, purchase orders will now be created and you will be notified once the items are received.</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    }
                  }
                },
                "Rejected": {
                  "case": 865420003,
                  "actions": {
                    "Create_card_instance_-_Rejected": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "32c69f32-1a5e-434b-88ea-8156000cfc29"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_cardsforpowerapps_1",
                          "operationId": "CreateCardInstance",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_cardsforpowerapps"
                        },
                        "parameters": {
                          "cardId": "aaa0a59b-7369-ee11-9ae7-00224808117c",
                          "cardRequest/inputs/varHardwareRequestID": "@outputs('Get_Hardware_Request')?['body/mpa_hardwarerequestid']",
                          "cardRequest/inputs/varHardwareRequestAppURL": "@parameters('Hardware Request App URL (mpa_HardwareRequestAppURL)')"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Post_Rejected_Card": {
                      "runAfter": {
                        "Create_a_chat_-_Rejected": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d237c301-d67d-4ee7-bbfd-df6f7232acdc"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_teams_1",
                          "operationId": "PostCardToConversation",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                        },
                        "parameters": {
                          "poster": "Power Apps",
                          "location": "Group chat",
                          "body/recipient": "@outputs('Create_a_chat_-_Rejected')?['body/id']",
                          "body/messageBody": "@outputs('Create_card_instance_-_Rejected')?['body/Card']"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Create_a_chat_-_Rejected": {
                      "runAfter": {
                        "Create_card_instance_-_Rejected": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "58733eff-e105-4eaf-8e81-d3d5e354fbb8"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_teams_1",
                          "operationId": "CreateChat",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                        },
                        "parameters": {
                          "item/members": "@outputs('Get_Submitted_By')?['body/domainname']",
                          "item/topic": "@outputs('Get_Hardware_Request')?['body/mpa_name']"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Send_an_email_-_Rejected": {
                      "runAfter": {
                        "Create_card_instance_-_Rejected": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "78e2bc1c-22e7-41e1-a013-61ec0785c0f7"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@outputs('Get_Submitted_By')?['body/domainname']",
                          "emailMessage/Subject": "@{outputs('Get_Hardware_Request')?['body/mpa_name']} - Review Complete & Rejected",
                          "emailMessage/Body": "<p>Unfortunately your request '<strong></strong><strong>@{outputs('Get_Hardware_Request')?['body/mpa_name']}</strong><strong></strong>' has been rejected. Please see the below comments for more information and you can always view the latest status of your request @{outputs('Compose_-_Deeplink_href')}.<br>\n<br>\n<strong>Revieed By:</strong> @{outputs('Get_Approved_By')?['body/fullname']}<br>\n<strong>Approval Comments</strong>: @{outputs('Get_Hardware_Request')?['body/mpa_approvalcomments']}</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@outputs('Get_Hardware_Request')?['body/mpa_approvalstatus']",
              "metadata": {
                "operationMetadataId": "caa1695e-1dea-44b3-820f-709a27b40aa0"
              },
              "type": "Switch"
            },
            "Update_Flow_Log_Succeeded": {
              "runAfter": {
                "Switch": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cc6c63cc-112c-4d4d-83df-2dd9af44851d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "workflowlogs",
                  "recordId": "@triggerBody()?['entity']?['entity']?['FlowsWorkflowLogId']",
                  "item/status": 2
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8ef86d6a-f230-4bc4-b2ab-a8a893928238"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7c6ea790-c936-46aa-83db-be2ec1ccd40e"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Create_Error": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5c35d961-18c9-4833-a8ab-0e2b67d4e70e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_iterrors",
                  "item/mpa_name": "@workflow()?['tags']['flowDisplayName']",
                  "item/mpa_action": "@outputs('Filter_array')?['body'][0]['name']",
                  "item/mpa_additionalinformation": "Name: , Request Number: ",
                  "item/mpa_errormessage": "@concat(item()?['outputs']?['body']?['error']?['innerError']?['error']?['message'],' ',item()?['error']?['message'])",
                  "item/mpa_sourcetype": 865420001,
                  "item/mpa_workflowinstanceurl": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Update_Flow_Log_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4b0b3204-edb6-46b9-9ec9-ad13db87f56a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Update_Flow_Log_Error": {
              "runAfter": {
                "Create_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c5dec097-65e7-4555-b971-65ecbb67ccb4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "workflowlogs",
                  "recordId": "@triggerBody()?['entity']?['entity']?['FlowsWorkflowLogId']",
                  "item/status": 3
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "f8635815-3d8c-47f4-953a-1b0282c82f23"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}