Accelerators/mpa_SAPProcurement/src/Workflows/ReadGLAccountList-0E9E01B5-6FE0-ED11-A7C6-002248049AF9.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPERP"
        },
        "api": {
          "name": "shared_saperp"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Application Server (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer"
          }
        },
        "SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)": {
          "defaultValue": 1000,
          "type": "Int",
          "metadata": {
            "schemaName": "mpa_SAPCountofRowsToRead"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "e08b0ed7-0828-4064-b2f3-091e86624957"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "JSON",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_SAPErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b21088a4-ccc2-4c04-b4fc-e3dc767649f8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SAPErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "Parse_List": {
              "runAfter": {
                "Set_SAPErrorMessage01": [
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('SKAT')?['body/Rows']",
                "select": {
                  "Account": "@if(isInt(item()?['SAKNR']), string(int(item()?['SAKNR'])), item()?['SAKNR'])",
                  "Description": "@item()?['TXT50']",
                  "Chart": "@item()?['KTOPL']"
                }
              }
            },
            "Check_Results": {
              "actions": {
                "Condition": {
                  "actions": {
                    "Warning_Response": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "a6a9fed9-a042-4be6-ad8f-c88358c2e989"
                      },
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "body": {
                          "Status": "Warning",
                          "List": "@body('Parse_List')",
                          "Messages": [
                            {
                              "Message": "The maximum number of @{parameters('SAP Application Server (mpa_SAPApplicationServer)')} search results were returned and there may be records missing. Try refining your search criteria."
                            }
                          ]
                        },
                        "schema": {
                          "type": "object",
                          "properties": {
                            "List": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Account": {
                                    "type": "string"
                                  },
                                  "Description": {
                                    "type": "string"
                                  },
                                  "Chart": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "Account",
                                  "Description",
                                  "Chart"
                                ]
                              }
                            },
                            "Status": {
                              "type": "string"
                            },
                            "Messages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Message": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "Message"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Success_Response": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3acb6b71-7516-4f46-82a7-fe87c0f4120b"
                        },
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 200,
                          "body": {
                            "Status": "Success",
                            "List": "@body('Parse_List')",
                            "Messages": [
                              {
                                "Message": "@{length(body('Parse_List'))} account(s) found based on your search criteria."
                              }
                            ]
                          },
                          "schema": {
                            "type": "object",
                            "properties": {
                              "List": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Account": {
                                      "type": "string"
                                    },
                                    "Description": {
                                      "type": "string"
                                    },
                                    "Chart": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "Account",
                                    "Description",
                                    "Chart"
                                  ]
                                }
                              },
                              "Status": {
                                "type": "string"
                              },
                              "Messages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Message": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "Message"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@length(outputs('SKAT')?['body/Rows'])",
                      "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5a02f334-23a2-4a7b-8f4e-f408e3b507b0"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Parse_List": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "else": {
                "actions": {
                  "Information_Response": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "458e504b-d3ce-4a33-a2a6-976352472ad2"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "Status": "Information",
                        "List": "@body('Parse_List')",
                        "Messages": [
                          {
                            "Message": "@{length(body('Parse_List'))} account(s) found based on your search criteria."
                          }
                        ]
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "List": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Account": {
                                  "type": "string"
                                },
                                "Description": {
                                  "type": "string"
                                },
                                "Chart": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Account",
                                "Description",
                                "Chart"
                              ]
                            }
                          },
                          "Status": {
                            "type": "string"
                          },
                          "Messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Message"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(outputs('SKAT')?['body/Rows'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "923fdd35-9f00-4d98-a0f5-6ae37722618b"
              },
              "type": "If"
            },
            "Set_SAPErrorMessage01": {
              "runAfter": {
                "SKAT": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce5d0c06-0fe6-4fc6-8645-10acf7f40f33"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SAPErrorMessage",
                "value": "@{body('SKAT')['error']['innerError']['error']['message']}"
              }
            },
            "SKAT": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "68ff37eb-b5d5-4bb7-987c-ca8922812816"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp",
                  "operationId": "ReadTableVersion3",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "inputParameters/tableName": "SKAT",
                  "inputParameters/FieldNames": [
                    "SAKNR",
                    "TXT50:G/L Account Long Text",
                    "KTOPL:Chart of Accounts"
                  ],
                  "inputParameters/RowCount": "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')",
                  "inputParameters/WhereFilters": [
                    "KTOPL LIKE '%@{body('Parse_JSON')?['Chart']}%'",
                    "AND SAKNR LIKE '%@{body('Parse_JSON')?['Account']}%'",
                    "AND MCOD1 LIKE '%@{toUpper(body('Parse_JSON')?['Description'])}%'"
                  ]
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Parse_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "12f0f586-4295-4bdd-8329-522cf48feb2c"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Chart": {
                      "type": "string"
                    },
                    "Account": {
                      "type": "string"
                    },
                    "Description": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Initialize_SAPErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4efb8661-c0d0-44f0-827c-e8bdbb2e3262"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4ff6915-74dd-4ad8-aeb5-69689f7cd846"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'), equals(item()?['Status'], 'Skipped'))"
              }
            },
            "ErrorTable": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4543bb1-084d-4bd9-865a-d59ec8caa8fc"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Step",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Status",
                    "value": "@item()?['Status']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['code']"
                  },
                  {
                    "header": "InnerErrorMessage",
                    "value": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}\n@{variables('SAPErrorMessage')}"
                  },
                  {
                    "header": "Input",
                    "value": "@triggerBody()"
                  }
                ]
              }
            },
            "ErrorReturn": {
              "runAfter": {
                "ErrorTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ea00725-e758-40bb-9cc7-b69d0a65d01b"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "Code": "@item()?['code']",
                  "InnerErrorMessage": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}\n@{variables('SAPErrorMessage')}",
                  "Input": "@triggerBody()",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              }
            },
            "Create_Integration_Log_Error": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65c53a8f-bba5-4aee-a2c2-1bbea7395180"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_saperrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_additionalinformation": "@triggerBody()['text']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420000,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']",
                  "item/mpa_workflowstatus": "@If(equals(item()?['Status'], 'Failed'), '865420001', '865420000')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Error_Response": {
              "runAfter": {
                "Create_Integration_Log_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a07fe00-c854-4b19-9f61-ff2091a0b894"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Status": "Error",
                  "Messages": [
                    {
                      "Message": "@outputs('Create_Integration_Log_Error')?['body/mpa_errormessage']"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "List": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Account": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "Chart": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Account",
                          "Description",
                          "Chart"
                        ]
                      }
                    },
                    "Status": {
                      "type": "string"
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Message"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "acddc208-94dd-4daf-9177-fa386ba1baec"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}