Solutions/mpa_SAPQuoteToCash/src/Workflows/ReadSalesOrder-E58EE1D8-560C-ED11-82E5-000D3A35A4E2.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "gilman_sharedsaperp_74c03"
        },
        "api": {
          "name": "shared_saperp"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Development (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ab3a8870-6e32-42c0-bad2-55fbf9930709"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "Order_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "Order_Value"
              ]
            }
          }
        }
      },
      "actions": {
        "Response": {
          "runAfter": {
            "Parse_Header": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3acb6b71-7516-4f46-82a7-fe87c0f4120b"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": {
              "Header": "@body('Parse_Header')[0]",
              "Items": "@body('Parse_Items')",
              "Parties": "@body('Parse_Parties')",
              "DeliverySchedule": "@body('Parse_Delivery_Schedule')",
              "PartiesAddresses": "@body('Parse_Addresses')",
              "RelatedDocuments": "@body('Parse_Related_Documents')",
              "Order": "@body('Parse_Header')[0]['Order']",
              "ObjectType": "VBAK",
              "ObjectId": "@body('Parse_Header')[0]?['ObjectId']",
              "Messages": []
            },
            "schema": {
              "type": "object",
              "properties": {
                "Header": {
                  "type": "object",
                  "properties": {
                    "Order": {
                      "type": "integer"
                    },
                    "CreatedOn": {
                      "type": "string"
                    },
                    "CreatedBy": {
                      "type": "string"
                    },
                    "OrderType": {
                      "type": "string"
                    },
                    "Customer": {
                      "type": "string"
                    },
                    "DeliveryDate": {
                      "type": "string"
                    },
                    "TotalPrice": {
                      "type": "string"
                    },
                    "Currency": {
                      "type": "string"
                    },
                    "CustomerPO": {
                      "type": "string"
                    },
                    "SalesOrganization": {
                      "type": "string"
                    },
                    "DistributionChannel": {
                      "type": "string"
                    },
                    "Division": {
                      "type": "string"
                    },
                    "CustomerName": {
                      "type": "string"
                    },
                    "ShipToName": {
                      "type": "string"
                    },
                    "ShipTo": {
                      "type": "string"
                    },
                    "HeaderText": {
                      "type": "string"
                    },
                    "ObjectId": {
                      "type": "string"
                    }
                  }
                },
                "Items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Item": {
                        "type": "integer"
                      },
                      "Material": {
                        "type": "string"
                      },
                      "Description": {
                        "type": "string"
                      },
                      "Unit": {
                        "type": "string"
                      },
                      "Plant": {
                        "type": "string"
                      },
                      "TotalPrice": {
                        "type": "number"
                      },
                      "CrudType": {
                        "type": "string"
                      },
                      "Quantity": {
                        "type": "integer"
                      },
                      "UnitPrice": {
                        "type": "number"
                      },
                      "Text_0001": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "Item",
                      "Material",
                      "Description",
                      "Unit",
                      "Plant",
                      "TotalPrice",
                      "CrudType",
                      "Quantity",
                      "UnitPrice",
                      "Text_0001"
                    ]
                  }
                },
                "Parties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Item": {
                        "type": "integer"
                      },
                      "Role": {
                        "type": "string"
                      },
                      "CrudType": {
                        "type": "string"
                      },
                      "Address": {
                        "type": "string"
                      },
                      "Customer": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "Item",
                      "Role",
                      "CrudType",
                      "Address",
                      "Customer"
                    ]
                  }
                },
                "DeliverySchedule": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Item": {
                        "type": "integer"
                      },
                      "ScheduleLine": {
                        "type": "integer"
                      },
                      "DeliveryDate": {
                        "type": "string"
                      },
                      "DeliveryQuantity": {
                        "type": "integer"
                      },
                      "CrudType": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "Item",
                      "ScheduleLine",
                      "DeliveryDate",
                      "DeliveryQuantity",
                      "CrudType"
                    ]
                  }
                },
                "PartiesAddresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address": {
                        "type": "string"
                      },
                      "Country": {
                        "type": "string"
                      },
                      "Name": {
                        "type": "string"
                      },
                      "City": {
                        "type": "string"
                      },
                      "PostalCode": {
                        "type": "string"
                      },
                      "Street": {
                        "type": "string"
                      },
                      "Region": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "Address",
                      "Country",
                      "Name",
                      "City",
                      "PostalCode",
                      "Street",
                      "Region"
                    ]
                  }
                },
                "RelatedDocuments": {
                  "type": "array"
                },
                "Order": {
                  "type": "integer"
                },
                "ObjectType": {
                  "type": "string"
                },
                "ObjectId": {
                  "type": "string"
                },
                "Messages": {
                  "type": "array"
                }
              }
            }
          }
        },
        "Order": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4b0212c7-3ffa-4661-9cb5-e4e8ac8d68e7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Order",
                "type": "string",
                "value": "@{triggerBody()['Order_Value']}"
              }
            ]
          }
        },
        "Parse_Items": {
          "runAfter": {
            "Parse_Addresses": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('Items')?['body/Rows']",
            "select": {
              "Item": "@int(item()?['POSNR'])",
              "Material": "@if(isInt(item()?['MATNR']), string(int(item()?['MATNR'])), item()?['MATNR'])",
              "Description": "@item()?['ARKTX']",
              "Unit": "@item()?['MEINS']",
              "Plant": "@item()?['WERKS']",
              "TotalPrice": "@float(item()?['NETWR'])",
              "CrudType": "R",
              "Quantity": "@float(item()?['KWMENG'])",
              "UnitPrice": "@div(float(item()?['NETWR']), float(item()?['KWMENG']))",
              "Text_0001": ""
            }
          }
        },
        "Parse_Delivery_Schedule": {
          "runAfter": {
            "Parse_Related_Documents": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('Delivery_Schedule')?['body/Rows']",
            "select": {
              "Item": "@int(item()?['POSNR'])",
              "ScheduleLine": "@int(item()?['ETENR'])",
              "DeliveryDate": "@item()?['EDATU']",
              "DeliveryQuantity": "@float(item()?['WMENG'])",
              "CrudType": "R"
            }
          }
        },
        "Parse_Related_Documents": {
          "runAfter": {
            "Parse_Items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('Related_Documents')?['body/Rows']",
            "select": {
              "UpstreamDocument": "@int(item()?['VBELV'])",
              "UpstreamItem": "@int(item()?['POSNV'])",
              "UpstreamRecordType": "@item()?['VBTYP_V']",
              "DownstreamDocument": "@int(item()?['VBELN'])",
              "DownstreamItem": "@int(item()?['POSNN'])",
              "DownstreamRecordType": "@item()?['VBTYP_N']"
            }
          }
        },
        "Parse_Parties": {
          "runAfter": {
            "Read_Texts_and_Partners": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('Read_Texts_and_Partners')?['body/ORDER_PARTNERS_OUT']",
            "select": {
              "Item": "@int(item()?['ITM_NUMBER'])",
              "Role": "@item()?['PARTN_ROLE']",
              "CrudType": "R",
              "Address": "@item()?['ADDRESS']",
              "Customer": "@if(isInt(item()?['CUSTOMER']), string(int(item()?['CUSTOMER'])), item()?['CUSTOMER'])"
            }
          }
        },
        "Filter_Ship_To_Number": {
          "runAfter": {
            "Parse_Delivery_Schedule": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "80559533-652b-4fb9-b017-47c5bb5482e9"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Parse_Parties')",
            "where": "@equals(item()?['Role'], 'WE')"
          }
        },
        "Filter_Ship_To_Name": {
          "runAfter": {
            "Filter_Customer_Number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a354894c-2246-4383-b36f-1085cf7506e0"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Parse_Addresses')",
            "where": "@equals(item()?['Address'], body('Filter_Ship_To_Number')[0]['Address'])"
          }
        },
        "Filter_Customer_Number": {
          "runAfter": {
            "Filter_Ship_To_Number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "80559533-652b-4fb9-b017-47c5bb5482e9"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Parse_Parties')",
            "where": "@equals(item()?['Role'], 'AG')"
          }
        },
        "Filter_Customer_Name": {
          "runAfter": {
            "Filter_Ship_To_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a354894c-2246-4383-b36f-1085cf7506e0"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Parse_Addresses')",
            "where": "@equals(item()?['Address'], body('Filter_Customer_Number')[0]['Address'])"
          }
        },
        "Parse_Header": {
          "runAfter": {
            "If_Header_Texts_Exist": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('Header')?['body/Rows']",
            "select": {
              "Order": "@int(item()?['VBELN'])",
              "CreatedOn": "@item()?['ERDAT']",
              "CreatedBy": "@item()?['ERNAM']",
              "OrderType": "@item()?['AUART']",
              "Customer": "@if(isInt(item()?['KUNNR']), string(int(item()?['KUNNR'])), item()?['KUNNR'])",
              "DeliveryDate": "@item()?['VDATU']",
              "TotalPrice": "@item()?['NETWR']",
              "Currency": "@item()?['WAERS']",
              "CustomerPO": "@item()?['BSTNK']",
              "SalesOrganization": "@item()?['VKORG']",
              "DistributionChannel": "@item()?['VTWEG']",
              "Division": "@item()?['SPART']",
              "CustomerName": "@body('Filter_Customer_Name')[0]['Name']",
              "ShipToName": "@body('Filter_Ship_To_Name')[0]['Name']",
              "ShipTo": "@if(isInt(body('Filter_Ship_To_Number')[0]['Customer']), string(int(body('Filter_Ship_To_Number')[0]['Customer'])), body('Filter_Ship_To_Number')[0]['Customer'])",
              "HeaderText": "@variables('HeaderText')",
              "ObjectId": "@item()?['VBELN']"
            }
          }
        },
        "Parse_Addresses": {
          "runAfter": {
            "Parse_Parties": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('Read_Texts_and_Partners')?['body/ORDER_ADDRESS_OUT']",
            "select": {
              "Address": "@item()?['ADDRESS']",
              "Country": "@item()?['COUNTRY']",
              "Name": "@item()?['NAME']",
              "City": "@item()?['CITY']",
              "PostalCode": "@item()?['POSTL_CODE']",
              "Street": "@item()?['STREET']",
              "Region": "@item()?['REGION']"
            }
          }
        },
        "If_Header_Texts_Exist": {
          "actions": {
            "Filter_Header_Text": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a354894c-2246-4383-b36f-1085cf7506e0"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Read_Texts_and_Partners')?['body/ORDER_TEXTLINES_OUT']",
                "where": "@equals(item()?['APPLOBJECT'], 'VBBK')"
              }
            },
            "Loop_Over_Text_Lines_and_Append_to_Header_Text": {
              "foreach": "@body('Filter_Header_Text')",
              "actions": {
                "Append_to_string_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c8822b49-188a-4724-9d72-6f67610d99c8"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "HeaderText",
                    "value": "@item()?['LINE']"
                  }
                }
              },
              "runAfter": {
                "Filter_Header_Text": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d2eac89b-8910-4fc2-b64d-1d660e7934d3"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Header_Text": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@equals('',body('Read_Texts_and_Partners')['ORDER_TEXTHEADERS_OUT'])",
              "False"
            ]
          },
          "metadata": {
            "operationMetadataId": "a24edfb2-23b9-4889-975c-3ecc823df8ef"
          },
          "type": "If"
        },
        "Header_Text": {
          "runAfter": {
            "Filter_Customer_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "55803a84-63dc-4930-89f3-e965a7a5d9b9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "HeaderText",
                "type": "string"
              }
            ]
          }
        },
        "Header": {
          "runAfter": {
            "Order": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c4a951cf-cc55-4699-98c9-a587c7379ccf"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_saperp",
              "operationId": "ReadTableVersion3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
            },
            "parameters": {
              "x-ms-sap-system": "@parameters('SAP Development (mpa_SAPApplicationServer)')",
              "inputParameters/tableName": "VBAK",
              "inputParameters/FieldNames": [
                "VBELN",
                "ERDAT",
                "ERNAM",
                "AUART",
                "KUNNR",
                "VDATU",
                "NETWR",
                "WAERK",
                "BSTNK",
                "VKORG",
                "VTWEG",
                "SPART"
              ],
              "inputParameters/RowCount": 1,
              "inputParameters/WhereFilters": [
                "VBELN = '@{formatNumber(int(variables('Order')), 'D10')}'"
              ]
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Items": {
          "runAfter": {
            "Header": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9bea4c75-fbda-4692-868e-37041a9db144"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_saperp",
              "operationId": "ReadTableVersion3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
            },
            "parameters": {
              "x-ms-sap-system": "@parameters('SAP Development (mpa_SAPApplicationServer)')",
              "inputParameters/tableName": "VBAP",
              "inputParameters/FieldNames": [
                "POSNR",
                "MATNR",
                "ARKTX",
                "MEINS",
                "WERKS",
                "NETWR",
                "KWMENG"
              ],
              "inputParameters/RowCount": 9999,
              "inputParameters/WhereFilters": [
                "VBELN = '@{formatNumber(int(variables('Order')), 'D10')}'"
              ]
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Delivery_Schedule": {
          "runAfter": {
            "Items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9bea4c75-fbda-4692-868e-37041a9db144"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_saperp",
              "operationId": "ReadTableVersion3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
            },
            "parameters": {
              "x-ms-sap-system": "@parameters('SAP Development (mpa_SAPApplicationServer)')",
              "inputParameters/tableName": "VBEP",
              "inputParameters/FieldNames": [
                "POSNR",
                "ETENR",
                "EDATU",
                "WMENG"
              ],
              "inputParameters/RowCount": 9999,
              "inputParameters/WhereFilters": [
                "VBELN = '@{formatNumber(int(variables('Order')), 'D10')}'"
              ]
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Related_Documents": {
          "runAfter": {
            "Delivery_Schedule": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9bea4c75-fbda-4692-868e-37041a9db144"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_saperp",
              "operationId": "ReadTableVersion3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
            },
            "parameters": {
              "x-ms-sap-system": "@parameters('SAP Development (mpa_SAPApplicationServer)')",
              "inputParameters/tableName": "VBFA",
              "inputParameters/FieldNames": [
                "POSNV",
                "VBTYP_V",
                "VBELN",
                "VBELV",
                "POSNN",
                "VBTYP_N"
              ],
              "inputParameters/RowCount": 9999,
              "inputParameters/WhereFilters": [
                "VBELN = '@{formatNumber(int(variables('Order')), 'D10')}'"
              ]
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Read_Texts_and_Partners": {
          "runAfter": {
            "Related_Documents": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "29d826a4-b851-4d94-8870-02f8b6730bae"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_saperp",
              "operationId": "CallRfcJson",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
            },
            "parameters": {
              "x-ms-sap-system": "@parameters('SAP Development (mpa_SAPApplicationServer)')",
              "rfcName": "BAPI_ISAORDER_GETDETAILEDLIST:Sales Order: List of All Order Data:ISA_SD_ERP",
              "rfcGroupFilter": "*",
              "autoCommit": false,
              "rfcInputs/I_BAPI_VIEW": {
                "PARTNER": "X",
                "TEXT": "X",
                "ADDRESS": "X"
              },
              "rfcInputs/SALES_DOCUMENTS": [
                {
                  "VBELN": "@formatNumber(int(variables('Order')), 'D10')"
                }
              ]
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}