Solutions/mpa_SAPQuoteToCash/src/Workflows/ReadCustomerInvoiceList-AFEC37CB-E9FE-EC11-82E5-000D3A3BA6F6.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gilman_sharedsaperp_74c03"
        },
        "api": {
          "name": "shared_saperp"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Application Server (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "4ae25763-b426-4f57-acb6-cd4edf1a6a70"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {}
        }
      },
      "actions": {
        "Parse_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "12f0f586-4295-4bdd-8329-522cf48feb2c"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()",
            "schema": {
              "type": "object",
              "properties": {
                "Type": {
                  "type": "string"
                },
                "CreatedOn": {
                  "type": "string"
                },
                "Customer": {
                  "type": "string"
                },
                "Invoice": {
                  "type": "string"
                }
              }
            }
          }
        },
        "Criteria": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6cbfab8f-a161-42d5-9e57-30c613507fb2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Criteria",
                "type": "array",
                "value": [
                  "FKART LIKE '%@{body('Parse_JSON')?['Type']}%'",
                  "AND KUNAG LIKE '%@{body('Parse_JSON')?['Customer']}%'",
                  "AND VBELN LIKE '%@{body('Parse_JSON')?['Invoice']}%'",
                  "AND ERDAT LIKE '%@{if(equals(body('Parse_JSON')?['CreatedOn'], ''), '', formatDateTime(body('Parse_JSON')?['CreatedOn'], 'yyyyMMdd'))}%'"
                ]
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "Parse_List": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('SAP_Query')?['body/Rows']",
                "select": {
                  "Type": "@item()?['FKART']",
                  "Customer": "@if(isInt(item()?['KUNAG']), string(int(item()?['KUNAG'])),item()?['KUNAG'])",
                  "CreatedOn": "@item()?['ERDAT']",
                  "CustomerRaw": "@item()?['KUNAG']",
                  "Amount": "@item()?['NETWR']",
                  "Invoice": "@if(isInt(item()?['VBELN']), string(int(item()?['VBELN'])),item()?['VBELN'])",
                  "Status": "@if(equals(item()?['FKSTO'],'X'),'Reversed','Posted')"
                }
              }
            },
            "Response": {
              "runAfter": {
                "Parse_Customers": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3acb6b71-7516-4f46-82a7-fe87c0f4120b"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "List": "@body('Parse_List')",
                  "Names": "@body('Parse_Customers')",
                  "Messages": [
                    {
                      "Message": "@{length(body('Parse_List'))} invoice(s) found based on your search criteria."
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "List": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Type": {
                            "type": "string"
                          },
                          "Customer": {
                            "type": "string"
                          },
                          "CreatedOn": {
                            "type": "string"
                          },
                          "CustomerRaw": {
                            "type": "string"
                          },
                          "Amount": {
                            "type": "string"
                          },
                          "Invoice": {
                            "type": "string"
                          },
                          "Status": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Type",
                          "Customer",
                          "CreatedOn",
                          "CustomerRaw",
                          "Amount",
                          "Invoice",
                          "Status"
                        ]
                      }
                    },
                    "Names": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Customer": {
                            "type": "string"
                          },
                          "Name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Customer",
                          "Name"
                        ]
                      }
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Message"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Prepare_IN_Statement": {
              "runAfter": {
                "Parse_List": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Parse_List')",
                "select": "@concat('''', item()?['CustomerRaw'], '''', ',')"
              }
            },
            "Finalize_IN_Statement": {
              "runAfter": {
                "Prepare_IN_Statement": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "42c0b6dd-26a1-41e9-b4a7-8d91fc33dd16"
              },
              "type": "Compose",
              "inputs": "@union(json('[\"KUNNR IN (\"]'), body('Prepare_IN_Statement'), json('[\")\"]'))"
            },
            "Customer_Names": {
              "runAfter": {
                "Finalize_IN_Statement": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "116e2ff5-2f69-4e6b-a5ab-2de75d0338b8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp_2",
                  "operationId": "ReadTableVersion3",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "inputParameters/tableName": "KNA1",
                  "inputParameters/FieldNames": [
                    "KUNNR:Customer Number",
                    "NAME1:Name 1"
                  ],
                  "inputParameters/RowCount": 9999,
                  "inputParameters/WhereFilters": "@outputs('Finalize_IN_Statement')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Parse_Customers": {
              "runAfter": {
                "Customer_Names": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('Customer_Names')?['body/Rows']",
                "select": {
                  "Customer": "@if(isInt(item()?['KUNNR']), string(int(item()?['KUNNR'])), item()?['KUNNR'])",
                  "Name": "@item()?['NAME1']"
                }
              }
            }
          },
          "runAfter": {
            "SAP_Query": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Response_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "4a0c9888-dc5e-4c19-a694-a1ccd59ff29c"
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "Messages": [
                      {
                        "Message": "No invoices were found based on your search criteria."
                      }
                    ]
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "List": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Type": {
                              "type": "string"
                            },
                            "Customer": {
                              "type": "string"
                            },
                            "CreatedOn": {
                              "type": "string"
                            },
                            "CustomerRaw": {
                              "type": "string"
                            },
                            "Amount": {
                              "type": "string"
                            },
                            "Invoice": {
                              "type": "string"
                            },
                            "Status": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "Type",
                            "Customer",
                            "CreatedOn",
                            "CustomerRaw",
                            "Amount",
                            "Invoice",
                            "Status"
                          ]
                        }
                      },
                      "Names": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Customer": {
                              "type": "string"
                            },
                            "Name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "Customer",
                            "Name"
                          ]
                        }
                      },
                      "Messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "Message"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "expression": {
            "greater": [
              "@length(outputs('SAP_Query')?['body/Rows'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "8fa23493-292b-4086-84f1-ff1b13a0ad4e"
          },
          "type": "If"
        },
        "SAP_Query": {
          "runAfter": {
            "Criteria": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c4a951cf-cc55-4699-98c9-a587c7379ccf"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_saperp_2",
              "operationId": "ReadTableVersion3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
            },
            "parameters": {
              "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
              "inputParameters/tableName": "VBRK",
              "inputParameters/FieldNames": [
                "VBELN",
                "FKART",
                "KUNAG",
                "NETWR",
                "FKSTO",
                "ERDAT"
              ],
              "inputParameters/RowCount": 99999,
              "inputParameters/WhereFilters": "@variables('Criteria')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}