Solutions/mpa_Kudos/src/Workflows/KudoApp-ShareKudowithSenderAssigntoRecipient-9985EA58-32C4-ED11-83FF-00224803A83A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_KudosDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "284c3fec-32ef-4e30-8320-64499ce775b4"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "LastKudoId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "TemplateNameInit": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "375e08c3-d932-45aa-9440-10fe871d0554"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TemplateName",
                "type": "string",
                "value": "Kudos-ReadAccessTeam"
              }
            ]
          },
          "description": "Static name of the template for Kudos Read access"
        },
        "Get_AccessTeamTemplate": {
          "runAfter": {
            "Get_Created_Kudo": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "81ba8896-2bd8-4be1-adf9-0803678dd957"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "teamtemplates",
              "$select": "teamtemplateid,teamtemplatename",
              "$filter": "(teamtemplatename eq '@{variables('TemplateName')}')",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Get the teamtemplateid of the Kudos Read Access template"
        },
        "FirstAccessTemplate": {
          "runAfter": {
            "Get_AccessTeamTemplate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3c05bfe9-85cf-4e44-9811-e839010cd742"
          },
          "type": "Compose",
          "inputs": "@first(outputs('Get_AccessTeamTemplate')?['body/value'])",
          "description": "Get first (unique) result for the AccessTemplate"
        },
        "Parse_Record_to_get_Id": {
          "runAfter": {
            "FirstAccessTemplate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bed5a945-d8a3-4043-8ff6-18193403d571"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs('FirstAccessTemplate')",
            "schema": {
              "type": "object",
              "properties": {
                "@@odata.type": {
                  "type": "string"
                },
                "@@odata.id": {
                  "type": "string"
                },
                "@@odata.editLink": {
                  "type": "string"
                },
                "teamtemplateid@odata.type": {
                  "type": "string"
                },
                "teamtemplateid": {
                  "type": "string"
                },
                "teamtemplatename": {
                  "type": "string"
                }
              }
            }
          },
          "description": "ParseTemplate to get Id"
        },
        "Get_Created_Kudo": {
          "runAfter": {
            "TemplateNameInit": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5de2ea12-07ee-46ce-96ca-366d97f06f33"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_kudos",
              "recordId": "@triggerBody()['text']",
              "$select": "_mpa_senderid_value,_mpa_recipientid_value,mpa_kudoid,_ownerid_value,mpa_recipientmanager,mpa_recipientmanageremail"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Retrieve the info of the new kudo"
        },
        "Sender_is_a_valid_user": {
          "actions": {
            "BoundAction-Add_Sender_to_Access_Team": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "25120d82-5c67-4704-af1d-01c8cfa25b1b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "actionName": "Microsoft.Dynamics.CRM.AddUserToRecordTeam",
                  "recordId": "@outputs('Get_Created_Kudo')?['body/_mpa_senderid_value']",
                  "item/Record": "/mpa_kudos(@{outputs('Get_Created_Kudo')?['body/mpa_kudoid']})",
                  "item/TeamTemplate/teamtemplateid": "@body('Parse_Record_to_get_Id')?['teamtemplateid']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Add Sender to the AccessTeam"
            }
          },
          "runAfter": {
            "Parse_Record_to_get_Id": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@outputs('Get_Created_Kudo')?['body/_mpa_senderid_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "a7028321-5bbb-4787-8391-0d1caa1be6fe"
          },
          "type": "If",
          "description": "Validate SenderId is valid, and add them to the access team"
        },
        "If_Recipient_is_a_valid_user": {
          "actions": {
            "Assign_Kudo_to_Recipient": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "065b80b8-6637-48ca-8d51-34429b3464e4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_kudos",
                  "recordId": "@outputs('Get_Created_Kudo')?['body/mpa_kudoid']",
                  "item/ownerid@odata.bind": "/systemusers(@{outputs('Get_Created_Kudo')?['body/_mpa_recipientid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Assign to the Recipient so it appears on their \"my\" list"
            }
          },
          "runAfter": {
            "Parse_Record_to_get_Id": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@outputs('Get_Created_Kudo')?['body/_mpa_recipientid_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "793668e2-60ff-47f8-95b9-c5766d78a447"
          },
          "type": "If",
          "description": "Recipients is a valid user"
        },
        "Has_Manager": {
          "actions": {
            "Get_ManagerId": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a6225eb6-e8cc-4b49-8356-35ef032b3dcb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "$select": "systemuserid",
                  "$filter": "(internalemailaddress eq '@{outputs('Get_Created_Kudo')?['body/mpa_recipientmanageremail']}')",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Get Manager record based on email"
            },
            "BoundAction-Add_Manager_to_AccessTeam": {
              "runAfter": {
                "ParseManager": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b44d7f25-0b89-4191-89a0-16dd7ecbf147"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "actionName": "Microsoft.Dynamics.CRM.AddUserToRecordTeam",
                  "recordId": "@body('ParseManager')?['systemuserid']",
                  "item/Record": "/mpa_kudos(@{outputs('Get_Created_Kudo')?['body/mpa_kudoid']})",
                  "item/TeamTemplate/teamtemplateid": "@body('Parse_Record_to_get_Id')?['teamtemplateid']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Add Manager to the Access Team"
            },
            "ComposeManager": {
              "runAfter": {
                "Get_ManagerId": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4ba1ae8-c92a-420b-82a1-6fa2e09abe83"
              },
              "type": "Compose",
              "inputs": "@first(outputs('Get_ManagerId')?['body/value'])",
              "description": "Get first (unique) result"
            },
            "ParseManager": {
              "runAfter": {
                "ComposeManager": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "878f2caf-9850-4209-a03e-29549e8edb2a"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('ComposeManager')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.type": {
                      "type": "string"
                    },
                    "@@odata.id": {
                      "type": "string"
                    },
                    "@@odata.etag": {
                      "type": "string"
                    },
                    "@@odata.editLink": {
                      "type": "string"
                    },
                    "systemuserid@odata.type": {
                      "type": "string"
                    },
                    "systemuserid": {
                      "type": "string"
                    },
                    "ownerid@odata.type": {
                      "type": "string"
                    },
                    "ownerid": {
                      "type": "string"
                    }
                  }
                }
              },
              "description": "ParseManager record to get Id"
            }
          },
          "runAfter": {
            "Parse_Record_to_get_Id": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@outputs('Get_Created_Kudo')?['body/mpa_recipientmanageremail']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b67b1ce9-60b1-46a5-b556-c9f3542b63cc"
          },
          "type": "If",
          "description": "Validate if Manager field is populated"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}