Solutions/mpa_Kudos/src/Workflows/KudosApp-Notificationemail-6B503259-37C7-ED11-B597-00224803A83A.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_KudosOutlook"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_office365users_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_KudosO365"
        },
        "api": {
          "name": "shared_office365users"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "0f13ae5b-74c2-4204-94fa-32d6d4bcc815"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text_1": {
                  "title": "RecipientEmail",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text": {
                  "title": "Subject",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Body",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "RecipientMgrEmail",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "RecipientName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "SenderName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_6": {
                  "title": "KudoTitle",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_7": {
                  "title": "KudoMessage",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_8": {
                  "title": "SenderEmail",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_9": {
                  "title": "KudoDateTime",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text_1",
                "text",
                "text_2",
                "text_3",
                "text_4",
                "text_5",
                "text_6",
                "text_7",
                "text_8",
                "text_9"
              ]
            }
          }
        }
      },
      "actions": {
        "Send_Kudo_notification_email": {
          "runAfter": {
            "Sender_has_photo_or_not": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "89cf8f47-3885-4bb8-8507-c8b04eda7e0d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@triggerBody()['text_1']",
              "emailMessage/Subject": "@triggerBody()['text']",
              "emailMessage/Body": "<p><br>\n@{if(variables('AddPhoto'),outputs('Body_with_photo'),outputs('Body_without_photo'))}</p>",
              "emailMessage/From": "@triggerBody()['text_8']",
              "emailMessage/Cc": "@triggerBody()['text_3']",
              "emailMessage/ReplyTo": "@triggerBody()['text_8']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "To: Recipient of the Kudo, CC: Recipient manager"
        },
        "Sender_photo": {
          "runAfter": {
            "AddPhotoInit": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3e6bd3d8-ccf0-4395-8faf-92b2ca11cb72"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365users_1",
              "operationId": "UserPhoto_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
            },
            "parameters": {
              "id": "@triggerBody()['text_8']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Get photo from O365 using the Sender email"
        },
        "Sender_has_photo_or_not": {
          "actions": {
            "Set_AddPhoto_to_true": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "bbffa64f-3f0e-435e-bae3-609eb75ba936"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "AddPhoto",
                "value": "@true"
              },
              "description": "Sender has photo"
            },
            "Body_with_photo": {
              "runAfter": {
                "Set_AddPhoto_to_true": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d510f06f-e1ba-4c75-b47c-7099a385f568"
              },
              "type": "Compose",
              "inputs": "<p><br>\n<body>\n<style>\nbody { \n font-family: Segoe UI, Helvetica, sans-serif;\n}\n#headerDiv{\n width: 600px; \n height: 240px;\n position:relative; \n left: 0px; \n top: 0px; \n background: rgb(0, 90, 158); \n text-align: left;\n margin-right:5px;\n}\n\n#headerSpan{\nposition: absolute;\nwidth: 429px;\nheight: 76px;\nleft: 58px;\ntop: 114px;\n  \tposition:absolute;\n    bottom:0;\n    color: rgb(255, 255, 255); \n    font-family: 'Segoe UI';\n    font-style: normal;\n    font-weight: 400;\n    font-size: 36px;\n    line-height: 48px;\n}\n\n#content{\nwidth: 600px;\nleft: 58px;\ntop: 589px;\n\nfont-family: 'Segoe UI';\nfont-style: normal;\nfont-weight: 600;\nfont-size: 18px;\nline-height: 24px;\ncolor: #201F1E;\n}\n\n#senderImg {\n  border: 1px solid #ddd;\n  border-radius: 4px;\n  border-radius:50%;\n\twidth:50px;\n\theight:50px;\n}\n</style>\n<div id=\"headerDiv\"><span id=\"headerSpan\">You&apos;ve recevied a new&nbsp;<br>Kudo!</span></div>\n<div id=\"content\">\n<p>Hi @{triggerBody()['text_4']}, </p>\n<p>@{triggerBody()['text_5']} has sent you a new Kudo titled <strong><em>@{triggerBody()['text_6']}.</em></strong></p>\n<p><img id=\"senderImg\" src=\"data:image/jpeg;base64,@{base64(outputs('Sender_photo')?['body'])}\"></img>On @{triggerBody()['text_9']}, @{triggerBody()['text_5']} said:\n<p style=\"font-style:italic; font-weight: bold\">@{triggerBody()['text_7']}</p>\n<br>\n<p>Congratulations!</p>\n</div>\n</body>\n<br>\n</p>",
              "description": "Receives: Compose_Input = Recipient Name, Compose_Input1 = Sender name,  Compose_Input2 = Title,  Compose_Input3 = Message. Formula Base64 is to convert the content of the photo to a photo. "
            }
          },
          "runAfter": {
            "Sender_photo": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Body_without_photo": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "cdade6d0-066e-41ad-9ad5-6dbcdeaf2776"
                },
                "type": "Compose",
                "inputs": "<p><br>\n<body>\n<style>\nbody { \n font-family: Segoe UI, Helvetica, sans-serif;\n}\n#headerDiv{\n width: 600px; \n height: 240px;\n position:relative; \n left: 0px; \n top: 0px; \n background: rgb(0, 90, 158); \n text-align: left;\n margin-right:5px;\n}\n\n#headerSpan{\nposition: absolute;\nwidth: 429px;\nheight: 76px;\nleft: 58px;\ntop: 114px;\n  \tposition:absolute;\n    bottom:0;\n    color: rgb(255, 255, 255); \n    font-family: 'Segoe UI';\n    font-style: normal;\n    font-weight: 400;\n    font-size: 36px;\n    line-height: 48px;\n}\n\n#content{\nwidth: 600px;\nheight: 334px;\nleft: 58px;\ntop: 589px;\n\nfont-family: 'Segoe UI';\nfont-style: normal;\nfont-weight: 600;\nfont-size: 18px;\nline-height: 24px;\ncolor: #201F1E;\n}\n\n#senderImg {\n  border: 1px solid #ddd;\n  border-radius: 4px;\n  padding: 5px;\n  border-radius:50%;\n\twidth:50px;\n\theight:50px;\n}\n</style>\n<div id=\"headerDiv\"><span id=\"headerSpan\">You&apos;ve recevied a new&nbsp;<br>Kudo!</span></div>\n<div id=\"content\">\n<p>Hi @{triggerBody()['text_4']},</p>\n<p>@{triggerBody()['text_5']} has sent you a new Kudo titled <strong><em>@{triggerBody()['text_6']}.</em></strong></p>\n<p><img></img>On @{triggerBody()['text_9']}, @{triggerBody()['text_5']} said:\n<p style=\"font-style:italic; font-weight: bold\">@{triggerBody()['text_7']}</p>\n<br>\n<p>Congratulations!</p>\n</div>\n</body>\n<br>\n</p>",
                "description": "Body of the email when the sender has no photo."
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@body('Sender_photo')",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "2d255de4-1d88-4051-9491-81974e64e96c"
          },
          "type": "If",
          "description": "2 paths for email with Sender photo and withouth"
        },
        "AddPhotoInit": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dd58ad0c-344d-4d84-ac85-a0dc2fd34f8a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AddPhoto",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "description": "Variable to mark if the Sender has a photo or not"
        }
      },
      "outputs": {}
    },
    "templateName": "0253862642354d9187425cfc8b3bdda2"
  },
  "schemaVersion": "1.0.0.0"
}