Solutions/mpa_AppointmentBooking/src/Workflows/CancelledOutlookInvites-9DDC1348-925E-EE11-BE6F-00224808D126.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_powerappsinnovationcenterdataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_powerappsinnovationcenteroutlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d068087e-2596-4c73-bab5-284ab1f080ee"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Appointment Booking Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your Appointment Booking",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Cancel Reason",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "IsAdmin",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_Location_Details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7ce21bf1-7797-44df-a60b-c00768fc1a6a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Location Details",
                "type": "string"
              }
            ]
          },
          "description": "Set Location Details"
        },
        "Try": {
          "actions": {
            "Get_Appointment_Booking": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "305be78e-a166-4432-80b4-ce0cf7c91b5c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_aptbk_appointmentbookings",
                  "recordId": "@triggerBody()['text']",
                  "$select": "mpa_aptbk_appointmentslot, mpa_aptbk_requestor, mpa_aptbk_calendarid, mpa_aptbk_calendaritemid, mpa_aptbk_comment , _mpa_aptbk_appointmentslot_value, _mpa_aptbk_requestor_value , mpa_aptbk_appointmentbookingname, mpa_aptbk_reason\n"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Booking Appointment Details"
            },
            "Get_Appointment_Slot_Info": {
              "runAfter": {
                "Get_Appointment_Booking": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c4be5246-f225-485c-8f67-b15e59f81225"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_aptbk_appointmentslots",
                  "recordId": "@outputs('Get_Appointment_Booking')?['body/_mpa_aptbk_appointmentslot_value']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Get slot details"
            },
            "Get_Appointment_Type_Info": {
              "runAfter": {
                "Get_Appointment_Slot_Info": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b9ce874b-4c6d-4d87-9a23-2fe17e7d4900"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_aptbk_appointmenttypes",
                  "recordId": "@outputs('Get_Appointment_Slot_Info')?['body/_mpa_aptbk_appointmenttype_value']",
                  "$select": "mpa_mpa_aptbk_appointmenttypename"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Appointment Type info"
            },
            "Switch_from_Location_Details_of_Appointment_Slot": {
              "runAfter": {
                "Get_Appointment_Type_Info": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Phone": {
                  "case": "Phone",
                  "actions": {
                    "Set_Phone_Number": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "97f95f83-64ba-447f-aa9c-b26c8d02a5fd"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Location Details",
                        "value": "@{outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_phonenumber']}"
                      }
                    }
                  }
                },
                "Face_to_Face": {
                  "case": "In Person",
                  "actions": {
                    "If_Location_Is_Not_Empty": {
                      "actions": {
                        "Get_Location_Details": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "7b1df4b3-9223-4d64-afe0-61352d6f428e"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "mpa_aptbk_locations",
                              "recordId": "@outputs('Get_Appointment_Slot_Info')?['body/_mpa_aptbk_locationdetails_value']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Checking_if_Location_Details_is_Null": {
                          "actions": {
                            "Appointment_Room_Number": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "a21a78c5-f605-449e-bb0e-bcb6176f2108"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_2",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "mpa_aptbk_appointmentroomnumbers",
                                  "recordId": "@outputs('Get_Appointment_Slot_Info')?['body/_mpa_aptbk_roomnumber_value']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Set_Location_Details": {
                              "runAfter": {
                                "Appointment_Room_Number": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "723eff40-9acd-4e65-8448-53c863edf29d"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Location Details",
                                "value": "@{Concat(outputs('Get_Location_Details')?['body/mpa_mpa_aptbk_locationname'], ' - ', outputs('Appointment_Room_Number')?['body/mpa_aptbk_roomnumber'])}"
                              }
                            }
                          },
                          "runAfter": {
                            "Get_Location_Details": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "not": {
                              "equals": [
                                "@outputs('Get_Appointment_Slot_Info')?['body/_mpa_aptbk_roomnumber_value']",
                                "@null"
                              ]
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "a765a3bd-eddd-432a-bab7-dba5991463eb"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "not": {
                          "equals": [
                            "@outputs('Get_Appointment_Slot_Info')?['body/_mpa_aptbk_locationdetails_value']",
                            "@null"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "efabea48-a566-4ca4-9c31-126f9944bf7f"
                      },
                      "type": "If"
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_location@OData.Community.Display.V1.FormattedValue']",
              "metadata": {
                "operationMetadataId": "92932fb1-a60c-4839-bacd-9346b26daca5"
              },
              "type": "Switch",
              "description": "Setting up Location Details"
            },
            "Contact_Info": {
              "runAfter": {
                "Switch_from_Location_Details_of_Appointment_Slot": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d9601109-4223-4e7a-b816-d3c484e00ba7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_Appointment_Slot_Info')?['body/_mpa_aptbk_contact_value']",
                  "$select": "internalemailaddress, firstname, fullname"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Getting the Contact Info"
            },
            "Requestor_Info": {
              "runAfter": {
                "Switch_from_Location_Details_of_Appointment_Slot": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ef88065c-c81e-414b-a2f1-4bbab36195b5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@outputs('Get_Appointment_Booking')?['body/_mpa_aptbk_requestor_value']",
                  "$select": "fullname, emailaddress1, firstname"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Getting the Requestor Info"
            },
            "Date": {
              "runAfter": {
                "Contact_Info": [
                  "Succeeded"
                ],
                "Requestor_Info": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e9745efa-f336-441f-8073-c1c5af73712a"
              },
              "type": "Compose",
              "inputs": "@If(equals(formatDateTime(outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_startdate'], 'MMMM dd'), formatDateTime(outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_enddate'], 'MMMM dd')), formatDateTime(outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_startdate'],'MMMM dd'), Concat(formatDateTime(outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_startdate'],'MMMM dd'), ' - ', formatDateTime(outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_enddate'], 'MMMM dd')))",
              "description": "Process Date"
            },
            "Time": {
              "runAfter": {
                "Date": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7ce84e15-3fdf-460b-8b5d-79db1bf73af6"
              },
              "type": "Compose",
              "inputs": "@Concat(formatDateTime( outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_startdate'],'hh:mm tt'),' - ',formatDateTime( outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_enddate'],'hh:mm tt'))",
              "description": "Process Time"
            },
            "Duration": {
              "runAfter": {
                "Time": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "209b045d-756c-4b39-a0bf-0aac467a77f8"
              },
              "type": "Compose",
              "inputs": "@Concat(outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_duration'], ' Minutes')",
              "description": "Concat Duration"
            },
            "Check_User": {
              "actions": {
                "Send_an_email_to_requestor_-_Admin": {
                  "runAfter": {
                    "Send_an_email_to_Meeting_Provider_-_Admin": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "379e6db1-ad5a-4adc-bda7-d85ee81f8924"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@outputs('Requestor_Info')?['body/emailaddress1']",
                      "emailMessage/Subject": "Cancelled Appointment Notification",
                      "emailMessage/Body": "<style>\n#customers {\n  font-family: Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\n#customers td, #customers th {\n  border: 1px solid #ddd;\n  padding: 8px;\n}\n\n#customers tr:nth-child(even){background-color: #f2f2f2;}\n\n#customers tr:hover {background-color: #ddd;}\n\n#customers th {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: Gray;\n  color: white;\n}\n</style>\n\n<p>Hello @{outputs('Requestor_Info')?['body/firstname']},<br>\n<br>\nPlease note the appointment below has been cancelled. The details for the cancelled appointment are:\n<br>\n<table id=\"customers\">\n <tr>\n   <th>Meeting Provider</th>\n   <th>Appointment Type</th>\n<th>Meeting Via</th>\n   <th>Meeting Details</th>\n<th>Date</th>\n<th>Time</th>\n<th>Duration</th>\n<th>Comments</th>\n </tr>\n <tr>\n  <td>@{outputs('Contact_Info')?['body/fullname']} </td>\n  <td>@{outputs('Get_Appointment_Type_Info')?['body/mpa_mpa_aptbk_appointmenttypename']} </td>\n<td>@{outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_location@OData.Community.Display.V1.FormattedValue']}</td>\n  <td> @{variables('Location Details')}</td>\n <td> @{outputs('Date')}</td>\n   <td> @{outputs('Time')}</td>\n   <td>@{outputs('Duration')} </td>\n<td>@{outputs('Get_Appointment_Booking')?['body/mpa_aptbk_reason']}</td>\n </tr>\n</table>\n<br>\n\n",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "description": "Send Email to the Student"
                },
                "Send_an_email_to_Meeting_Provider_-_Admin": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "bbd36d33-1017-46eb-ae01-20d66fcc3894"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@outputs('Contact_Info')?['body/internalemailaddress']",
                      "emailMessage/Subject": "Cancelled Appointment Notification",
                      "emailMessage/Body": "<style>\n#customers {\n  font-family: Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\n#customers td, #customers th {\n  border: 1px solid #ddd;\n  padding: 8px;\n}\n\n#customers tr:nth-child(even){background-color: #f2f2f2;}\n\n#customers tr:hover {background-color: #ddd;}\n\n#customers th {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: Gray;\n  color: white;\n}\n</style>\n\n<p>Hello @{outputs('Contact_Info')?['body/firstname']},<br>\n<br>\nPlease note the appointment below has been cancelled. The details for the cancelled appointment are:\n<br>\n<table id=\"customers\">\n <tr>\n   <th>Requestor Name</th>\n   <th>Requestor Email</th>\n   <th>Appointment Type</th>\n<th>Meeting Via</th>\n   <th>Meeting Details</th>\n<th>Date</th>\n<th>Time</th>\n<th>Duration</th>\n<th>Comments</th>\n </tr>\n <tr>\n  <td>@{outputs('Requestor_Info')?['body/fullname']} </td>\n  <td>@{outputs('Requestor_Info')?['body/emailaddress1']} </td>\n  <td>@{outputs('Get_Appointment_Type_Info')?['body/mpa_mpa_aptbk_appointmenttypename']} </td>\n<td>@{outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_location@OData.Community.Display.V1.FormattedValue']}</td>\n  <td> @{variables('Location Details')}</td>\n <td> @{outputs('Date')}</td>\n   <td> @{outputs('Time')} </td>\n   <td>@{outputs('Duration')} </td>\n<td>@{outputs('Get_Appointment_Booking')?['body/mpa_aptbk_reason']}</td>\n </tr>\n</table>\n<br>\n\n\n",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "description": "Send email to the Meeting Provider"
                }
              },
              "runAfter": {
                "Entity_URL": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_an_email_to_requestor": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "0065b2e1-835d-4152-a96b-b76df15838cb"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_office365_1",
                        "operationId": "SendEmailV2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                      },
                      "parameters": {
                        "emailMessage/To": "@outputs('Requestor_Info')?['body/emailaddress1']",
                        "emailMessage/Subject": "Cancelled Appointment Notification",
                        "emailMessage/Body": "<style>\n#customers {\n  font-family: Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\n#customers td, #customers th {\n  border: 1px solid #ddd;\n  padding: 8px;\n}\n\n#customers tr:nth-child(even){background-color: #f2f2f2;}\n\n#customers tr:hover {background-color: #ddd;}\n\n#customers th {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: Gray;\n  color: white;\n}\n</style>\n\n<p>Hello @{outputs('Requestor_Info')?['body/fullname']},<br>\n<br>\nPlease note the appointment below has been cancelled. The details for the cancelled appointment are:\n<br>\n<table id=\"customers\">\n <tr>\n   <th>Meting Provider</th>\n   <th>Appointment Type</th>\n<th>Meeting Via</th>\n   <th>Meeting Details</th>\n<th>Date</th>\n<th>Time</th>\n<th>Duration</th>\n<th>Comments</th>\n </tr>\n <tr>\n  <td>@{outputs('Contact_Info')?['body/fullname']} </td>\n  <td>@{outputs('Get_Appointment_Type_Info')?['body/mpa_mpa_aptbk_appointmenttypename']} </td>\n<td>@{outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_location@OData.Community.Display.V1.FormattedValue']}</td>\n  <td> @{variables('Location Details')}</td>\n <td> @{outputs('Date')}</td>\n   <td> @{outputs('Time')}</td>\n   <td>@{outputs('Duration')} </td>\n<td>@{outputs('Get_Appointment_Booking')?['body/mpa_aptbk_reason']}</td>\n </tr>\n</table>\n<br>\n\n\n",
                        "emailMessage/Importance": "Normal"
                      },
                      "authentication": "@parameters('$authentication')"
                    },
                    "description": "Send email to the Student"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerBody()['text_2']",
                  "Admin"
                ]
              },
              "metadata": {
                "operationMetadataId": "b84b9aa7-4941-4f41-8efc-7fb73dabfe04"
              },
              "type": "If",
              "description": "User if Admin or Not"
            },
            "Get_Environment_ID": {
              "runAfter": {
                "Duration": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5288106e-7181-492f-b5e5-d6cb21562507"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "appmodules",
                  "$select": "appmoduleid",
                  "$filter": "uniquename eq 'mpa_appointmentbooking'"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "To get the Environment ID of MDA"
            },
            "App_ID": {
              "runAfter": {
                "Get_Environment_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3a174e89-b3af-4960-ad00-a39a559b3fd7"
              },
              "type": "Compose",
              "inputs": "@first(body('Get_Environment_ID')?['value'])?['appmoduleid']",
              "description": " To hold the APP ID."
            },
            "Environment_URL": {
              "runAfter": {
                "App_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f18ff6e8-8d0c-46df-85e5-ae6214bb247a"
              },
              "type": "Compose",
              "inputs": "@uriHost(outputs('Get_Appointment_Slot_Info')?['body/@odata.id'])",
              "description": "hold environment URL"
            },
            "Entity_URL": {
              "runAfter": {
                "Environment_URL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0fadabef-4ed9-4880-b237-df94ff43b9bf"
              },
              "type": "Compose",
              "inputs": "https://@{outputs('Environment_URL')}/main.aspx?appid=@{outputs('App_ID')}&pagetype=entityrecord&etn=mpa_aptbk_appointmentslot&id=@{outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_appointmentslotid']}",
              "description": "Concatenate all parts of the link"
            },
            "Run_a_Child_Flow": {
              "runAfter": {
                "Check_User": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "db12405d-6da3-447b-83c1-14cc06d807fe"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "2568f652-8b5e-ee11-be6f-00224808dec6"
                },
                "body": {
                  "text": "@outputs('Get_Appointment_Booking')?['body/mpa_aptbk_calendarid']",
                  "text_1": "@outputs('Get_Appointment_Booking')?['body/mpa_aptbk_calendaritemid']",
                  "text_2": "---",
                  "text_3": "---",
                  "text_5": "---",
                  "text_6": "---",
                  "text_7": "---",
                  "text_8": "Yes",
                  "text_9": "---",
                  "text_10": "---",
                  "text_11": "---",
                  "text_12": "---",
                  "text_13": "---",
                  "text_14": "---",
                  "text_15": "---"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_Location_Details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6366989d-c7d2-48fc-93f8-ed8356e6f11c"
          },
          "type": "Scope",
          "description": "To handle an unexpected error."
        },
        "Catch": {
          "actions": {
            "Filter_Data": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a5f498e6-fe56-427b-9845-1312aa952e36"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "description": "Filter data by failed and timeout."
            },
            "Create_entry_in_IT_Error": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d7b067c6-fe34-4a13-8c87-d22bc89f1a0a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_iterrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420001,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Add new record in IT error table."
            },
            "ErrorReturn": {
              "runAfter": {
                "Filter_Data": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "08fe3aa3-bb2e-4039-bf63-e78ad0216a2f"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_Data')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "InnerErrorMessage": "@{item()?['error']?['message']} \n@{item()?['outputs']?['body']?['error']?['message']}",
                  "Input": "@triggerOutputs()?['body/mpa_aptbk_appointmentbookingname']",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              },
              "description": "To hold a specific value."
            },
            "Terminate": {
              "runAfter": {
                "Create_entry_in_IT_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ddf9f509-d2b5-411d-a2be-61808598c00a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              },
              "description": "Terminate and set status to failed."
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a696b4f-65f1-4257-a4c5-9dc2b45116d4"
          },
          "type": "Scope",
          "description": "To catch the specific error and add to IT error table."
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}