Solutions/mpa_AppointmentBooking/src/Workflows/UpdateInitialContact-F6938363-B65E-EE11-BE6F-00224808DEC6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_aptbk_dataverseconnection"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "63f6c7ab-95f8-4022-9dcc-7bc1842b922e"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Row ID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Contact",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Get_Appointment_Slot_Info": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "74c89090-76d6-470c-a858-9e3d64613e29"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_aptbk_appointmentslots",
                  "recordId": "@triggerBody()['text']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Contact_Info": {
              "runAfter": {
                "Get_Appointment_Slot_Info": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "472d46fe-62a5-480d-a991-cdb78f5009b2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_Appointment_Slot_Info')?['body/_mpa_aptbk_contact_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Update_contact": {
              "runAfter": {
                "Get_Contact_Info": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "68198f20-7cb3-4c52-9318-5194da4605b5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_aptbk_appointmentslots",
                  "recordId": "@outputs('Get_Appointment_Slot_Info')?['body/mpa_aptbk_appointmentslotid']",
                  "item/mpa_aptbk_initialcontact@odata.bind": "@outputs('Get_Contact_Info')?['body/@odata.id']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              },
              "description": "Update the value of the contact"
            },
            "Respond_to_a_PowerApp_or_flow": {
              "runAfter": {
                "Update_contact": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a2d3211b-969f-41f7-b784-c6a6c1720686"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {},
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2f048546-47c9-43e9-acae-dbb08cd65968"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_Data": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a5f498e6-fe56-427b-9845-1312aa952e36"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "description": "Filter data by failed and timeout."
            },
            "Create_entry_in_IT_Error": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d7b067c6-fe34-4a13-8c87-d22bc89f1a0a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_iterrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420001,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              },
              "description": "Add new record in IT error table."
            },
            "ErrorReturn": {
              "runAfter": {
                "Filter_Data": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "08fe3aa3-bb2e-4039-bf63-e78ad0216a2f"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_Data')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "InnerErrorMessage": "@{item()?['error']?['message']} \n@{item()?['outputs']?['body']?['error']?['message']}",
                  "Input": "@triggerOutputs()?['body/mpa_aptbk_appointmentbookingname']",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              },
              "description": "To hold a specific value."
            },
            "Terminate": {
              "runAfter": {
                "Create_entry_in_IT_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ddf9f509-d2b5-411d-a2be-61808598c00a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              },
              "description": "Terminate and set status to failed."
            }
          },
          "runAfter": {
            "Try": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a696b4f-65f1-4257-a4c5-9dc2b45116d4"
          },
          "type": "Scope",
          "description": "To catch the specific error and add to IT error table."
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}