Solutions/mpa_SAPSetupAssistant/src/Workflows/InstallTemplateSAPMenuItem-27F11C04-2FC2-EE11-9079-000D3A33DD40.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_sharedcommondataserviceforapps_fadb4"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "510db2ad-7b9f-408d-83b7-f14b4464d41f"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "MenuItem",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The menu item to create or update",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "ShareListJSON",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The list of users or groups to share the menu record with in JSON format",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "IconBinary",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Binary format of Icon file",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "AppURL",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The app url for the menu item",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Switch": {
              "runAfter": {},
              "cases": {
                "Vendor_Management": {
                  "case": "Vendor Management",
                  "actions": {
                    "Set_variable_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9f8e8a05-9a28-470a-95d7-756f349ab7a9"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Capability",
                        "value": 865420000
                      }
                    },
                    "Set_variable_8": {
                      "runAfter": {
                        "Set_variable_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "107f6961-f84f-42a6-8e97-d8c48ef75cb0"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "MenuName",
                        "value": "Vendors"
                      }
                    },
                    "Set_variable_14": {
                      "runAfter": {
                        "Set_variable_8": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4013194c-759f-407b-9d57-245f2a8c73bc"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Order",
                        "value": 1
                      }
                    }
                  }
                },
                "Purchase_Requisitions": {
                  "case": "Purchase Requisitions",
                  "actions": {
                    "Set_variable_3": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "1d366aed-3482-4f65-9214-22edc946f17b"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Capability",
                        "value": 865420001
                      }
                    },
                    "Set_variable_9": {
                      "runAfter": {
                        "Set_variable_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "bffef266-42bf-43ef-adf9-510e7c861a0f"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "MenuName",
                        "value": "Requisitions"
                      }
                    },
                    "Set_variable_15": {
                      "runAfter": {
                        "Set_variable_9": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "51cfbb9b-6e93-4550-bae2-d376baa412f5"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Order",
                        "value": 2
                      }
                    }
                  }
                },
                "Purchase_Orders": {
                  "case": "Purchase Orders",
                  "actions": {
                    "Set_variable_4": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "71f64091-b1b7-4a98-b6c3-b18b4a077ffa"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Capability",
                        "value": 865420002
                      }
                    },
                    "Set_variable_10": {
                      "runAfter": {
                        "Set_variable_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e4cb5e4e-a44a-4991-a679-0496accb1da9"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "MenuName",
                        "value": "Purchase Orders"
                      }
                    },
                    "Set_variable_16": {
                      "runAfter": {
                        "Set_variable_10": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "752600e6-4a25-41f3-a5ba-5813fe1b6c12"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Order",
                        "value": 3
                      }
                    }
                  }
                },
                "Goods_Receipts": {
                  "case": "Goods Receipts",
                  "actions": {
                    "Set_variable_5": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "8c1215c6-8c96-4aba-9cd3-d0e847b2ae72"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Capability",
                        "value": 865420003
                      }
                    },
                    "Set_variable_11": {
                      "runAfter": {
                        "Set_variable_5": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "fdfbe107-bb4a-4a19-9fd7-51992b70dc90"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "MenuName",
                        "value": "Goods Receipts"
                      }
                    },
                    "Set_variable_17": {
                      "runAfter": {
                        "Set_variable_11": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "37d3482e-4b02-4c9f-b18a-83b4632f203a"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Order",
                        "value": 4
                      }
                    }
                  }
                },
                "Vendor_Invoices": {
                  "case": "Vendor Invoices",
                  "actions": {
                    "Set_variable_6": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9ff6d22c-764a-4d9c-85fb-b5bc86b08159"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Capability",
                        "value": 865420004
                      }
                    },
                    "Set_variable_12": {
                      "runAfter": {
                        "Set_variable_6": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d7754ddd-7f9b-4f2e-86ac-a6fb710ea3e9"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "MenuName",
                        "value": "Invoices"
                      }
                    },
                    "Set_variable_18": {
                      "runAfter": {
                        "Set_variable_12": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6345ca6a-c774-458f-80eb-eea0bb26e8ae"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Order",
                        "value": 5
                      }
                    }
                  }
                },
                "Vendor_Payments": {
                  "case": "Vendor Payments",
                  "actions": {
                    "Set_variable_7": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "5ddaff88-0b53-4e76-89b4-10becc00590f"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Capability",
                        "value": 865420005
                      }
                    },
                    "Set_variable_13": {
                      "runAfter": {
                        "Set_variable_7": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "78c804e3-a8d6-4fde-8854-822bab7eb9f6"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "MenuName",
                        "value": "Payments"
                      }
                    },
                    "Set_variable_19": {
                      "runAfter": {
                        "Set_variable_13": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d4c65ec8-cf90-45a7-9004-43c6f7ca85a2"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Order",
                        "value": 6
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@triggerBody()['text']",
              "metadata": {
                "operationMetadataId": "4f0f43b6-2e3b-4304-b4c6-dece03ffedb2"
              },
              "type": "Switch"
            },
            "Check_SAP_Menu_Item_Exists": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2105322e-6b31-49ac-99e3-a6fe5b0c6581"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_sapmenuitems",
                  "$filter": "mpa_capability eq @{variables('Capability')}",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition": {
              "actions": {
                "Create_Menu_Item": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "63043e69-71ac-4b9f-b45f-815ca9ff2411"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "mpa_sapmenuitems",
                      "item/mpa_url": "@triggerBody()['text_3']",
                      "item/mpa_capability": "@variables('Capability')",
                      "item/mpa_menugroup": 865420000,
                      "item/mpa_menuitemname": "@variables('MenuName')",
                      "item/mpa_icon": "@triggerBody()['text_2']",
                      "item/mpa_order": "@variables('Order')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_variable_20": {
                  "runAfter": {
                    "Create_Menu_Item": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "49c44401-0a7d-4cda-b7dd-1322f1222095"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SAPMenuItemID",
                    "value": "@outputs('Create_Menu_Item')?['body/mpa_sapmenuitemid']"
                  }
                }
              },
              "runAfter": {
                "Check_SAP_Menu_Item_Exists": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable_21": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "6aa556f4-3290-4c1c-bb87-acf15985bd58"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SAPMenuItemID",
                      "value": "@{first(outputs('Check_SAP_Menu_Item_Exists')?['body/value'])['mpa_sapmenuitemid']}"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(outputs('Check_SAP_Menu_Item_Exists')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "950ed09f-777e-4545-b625-a249a3b7dbc6"
              },
              "type": "If"
            },
            "Parse_JSON": {
              "runAfter": {
                "Switch": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "93da1e68-0274-436c-8900-06c774700f83"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text_1']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string"
                      },
                      "Type": {
                        "type": "string",
                        "enum": [
                          "User",
                          "Team"
                        ]
                      }
                    },
                    "required": [
                      "Id",
                      "Type"
                    ]
                  }
                }
              }
            },
            "Apply_to_each": {
              "foreach": "@body('Parse_JSON')",
              "actions": {
                "Is_User_or_Group": {
                  "actions": {
                    "Get_User": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "c41b33be-561c-469a-8d91-7dab0b6f7ea3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "systemusers",
                          "$filter": "azureactivedirectoryobjectid eq '@{items('Apply_to_each')['Id']}'",
                          "$top": 1
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Perform_an_unbound_action_-_User": {
                      "runAfter": {
                        "Get_User": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "12d5b918-bc28-41fe-8a09-e6fbf552c89a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "PerformUnboundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "actionName": "GrantAccess",
                          "item/Target": "/mpa_sapmenuitems(@{variables('SAPMenuItemID')})",
                          "item/PrincipalAccess": {
                            "Principal": {
                              "systemuserid": "@{first(outputs('Get_User')?['body/value'])['systemuserid']}",
                              "@@odata.type": "Microsoft.Dynamics.CRM.systemuser"
                            },
                            "AccessMask": "ReadAccess"
                          }
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Get_Team": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "66c49885-7f0a-4d5b-bf79-e58db90b9873"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "teams",
                            "$filter": "azureactivedirectoryobjectid eq '@{items('Apply_to_each')['Id']}'"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Perform_an_unbound_action_-_Team": {
                        "runAfter": {
                          "Get_Team": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "a8c60214-7bce-4e7e-886f-c59519390a6f"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "PerformUnboundAction",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "actionName": "GrantAccess",
                            "item/Target": "/mpa_sapmenuitems(@{variables('SAPMenuItemID')})",
                            "item/PrincipalAccess": {
                              "Principal": {
                                "teamid": "@{first(outputs('Get_Team')?['body/value'])['teamid']}",
                                "@@odata.type": "Microsoft.Dynamics.CRM.team"
                              },
                              "AccessMask": "ReadAccess"
                            }
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each')['Type']",
                      "User"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e9e97dd9-3bcb-463a-9d48-66dd08da2d55"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2f81349a-1ade-412a-a582-bc05d32494e4"
              },
              "type": "Foreach"
            },
            "Set_variable_22": {
              "runAfter": {
                "Set_variable_23": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "15c7b427-404a-4f8b-9581-6636e861ce74"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Status",
                "value": "Success"
              }
            },
            "Set_variable_23": {
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "833da417-3186-4c12-babb-bd27f2bf5c4d"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Status Message",
                "value": "The menu item was successfully updated."
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_SAPMenuItemID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "029855d1-d7ea-479c-b211-18ed9751b14d"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8451bacc-b6a3-47e2-bc1c-e2cc509a00d0"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Parse_JSON_Error": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "94719fee-49a1-4d68-8482-b0264add7e26"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Filter_array')",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "error": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "inputs": {
                        "type": "object",
                        "properties": {
                          "host": {
                            "type": "object",
                            "properties": {
                              "apiId": {
                                "type": "string"
                              },
                              "connectionReferenceName": {
                                "type": "string"
                              },
                              "operationId": {
                                "type": "string"
                              }
                            }
                          },
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "environment": {
                                "type": "string"
                              },
                              "api-version": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "outputs": {
                        "type": "object",
                        "properties": {
                          "statusCode": {
                            "type": "integer"
                          },
                          "headers": {
                            "type": "object",
                            "properties": {
                              "Cache-Control": {
                                "type": "string"
                              },
                              "Strict-Transport-Security": {
                                "type": "string"
                              },
                              "x-ms-islandgateway": {
                                "type": "string"
                              },
                              "x-ms-request-id": {
                                "type": "string"
                              },
                              "x-ms-correlation-request-id": {
                                "type": "string"
                              },
                              "x-ms-correlation-id": {
                                "type": "string"
                              },
                              "Server-Timing": {
                                "type": "string"
                              },
                              "X-Content-Type-Options": {
                                "type": "string"
                              },
                              "x-ms-service-request-id": {
                                "type": "string"
                              },
                              "x-ms-activity-vector": {
                                "type": "string"
                              },
                              "Timing-Allow-Origin": {
                                "type": "string"
                              },
                              "x-ms-apihub-cached-response": {
                                "type": "string"
                              },
                              "x-ms-apihub-obo": {
                                "type": "string"
                              },
                              "Date": {
                                "type": "string"
                              },
                              "Content-Length": {
                                "type": "string"
                              },
                              "Content-Type": {
                                "type": "string"
                              }
                            }
                          },
                          "body": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "message": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "startTime": {
                        "type": "string"
                      },
                      "endTime": {
                        "type": "string"
                      },
                      "trackingId": {
                        "type": "string"
                      },
                      "clientTrackingId": {
                        "type": "string"
                      },
                      "clientKeywords": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "code": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "Set_variable": {
              "runAfter": {
                "Parse_JSON_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "aef18170-b2ef-4a90-b243-39a86c54c79b"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Status",
                "value": "Error"
              }
            },
            "Apply_to_each_error": {
              "foreach": "@body('Parse_JSON_Error')",
              "actions": {
                "Append_to_string_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f5ee58f7-1661-4b96-94c2-3acbe38ed8b7"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "Status Message",
                    "value": "@{items('Apply_to_each_error')?['error']?['message']} "
                  }
                },
                "Append_to_string_variable_2": {
                  "runAfter": {
                    "Append_to_string_variable_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "57baecbb-902e-453a-b458-e478bd159651"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "Status Message",
                    "value": "@items('Apply_to_each_error')?['outputs']?['body']?['error']?['message']"
                  }
                },
                "Append_to_string_variable_3": {
                  "runAfter": {
                    "Append_to_string_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "db47fafd-675e-4d29-93ee-d2251455e889"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "Status Message",
                    "value": "@items('Apply_to_each_error')?['outputs']?['body']?['message']"
                  }
                }
              },
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2accf560-831a-4d59-b2c3-cf0af2a01675"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "b1cd5d2b-2bed-4963-afee-5d2f33b6be19"
          },
          "type": "Scope"
        },
        "Initialize_variable_-_Status": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b8a2ff8c-88cf-4553-a130-be615c4cf6f9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Status",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_Message": {
          "runAfter": {
            "Initialize_variable_-_Status": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e7f41205-1984-44f4-918b-878e88ea4261"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Status Message",
                "type": "string"
              }
            ]
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Catch": [
              "Succeeded",
              "Failed",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "8706398f-1b5c-4111-b44d-56166152343c"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "status": "@variables('Status')",
              "message": "@variables('Status Message')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "title": "Status",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "message": {
                  "title": "Message",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_variable_-_Capability": {
          "runAfter": {
            "Initialize_variable_-_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "49fca982-e156-41d4-9091-74c08679b35f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Capability",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_variable_-_MenuName": {
          "runAfter": {
            "Initialize_variable_-_Capability": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "23d5befa-d06d-4e02-846c-5e0a2c988020"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MenuName",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_Order": {
          "runAfter": {
            "Initialize_variable_-_MenuName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "24a25f9d-0b1c-4af8-89a1-0eea57ac1b73"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Order",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_variable_-_SAPMenuItemID": {
          "runAfter": {
            "Initialize_variable_-_Order": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5740946e-afd8-402c-a5a1-b66f34f6d6eb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SAPMenuItemID",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}