Solutions/mpa_SAPSetupAssistant/src/Workflows/InstallTemplateSAPProcessBatchRun-23987332-E4D4-EE11-9079-002248081105.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_sharedcommondataserviceforapps_fadb4"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "4f5fb6a9-3976-4447-b5fd-59318164bdea"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "mpa_installtemplatebatchprocess",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "mpa_batchstatus",
              "subscriptionRequest/filterexpression": "mpa_batchstatus eq 865420001 and mpa_batchtype eq 865420002"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Apply_to_each_batch_item": {
              "foreach": "@outputs('Get_Batch_Items')?['body/value']",
              "actions": {
                "Run_a_Child_Flow_-_InstallTemplateSAPProcess": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b361cdcc-9ef0-4cac-a59d-68ec48b7b04a"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "5a190b2c-3bba-ee11-a569-000d3a33d5a1"
                    },
                    "body": {
                      "text": "@items('Apply_to_each_batch_item')?['mpa_installtemplatebatchprocessitemid']"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Batch_Items": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cd011b36-dca4-41ee-8868-47f945b9d57b"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 20
                }
              }
            },
            "Set_variable": {
              "runAfter": {
                "Apply_to_each_batch_item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "648320eb-0521-4e46-a93a-b0e8b1244701"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Status Message",
                "value": "The batch process has completed."
              }
            },
            "Get_Batch_Items": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "bfd7f17a-8f53-42e6-8959-bc7257a06195"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_installtemplatebatchprocessitems",
                  "$filter": "_mpa_batchprocess_value eq '@{triggerOutputs()?['body/mpa_installtemplatebatchprocessid']}'",
                  "$orderby": "mpa_name asc"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_Status": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "029855d1-d7ea-479c-b211-18ed9751b14d"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8451bacc-b6a3-47e2-bc1c-e2cc509a00d0"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Parse_JSON_Error": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "94719fee-49a1-4d68-8482-b0264add7e26"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Filter_array')",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "error": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "inputs": {
                        "type": "object",
                        "properties": {
                          "host": {
                            "type": "object",
                            "properties": {
                              "apiId": {
                                "type": "string"
                              },
                              "connectionReferenceName": {
                                "type": "string"
                              },
                              "operationId": {
                                "type": "string"
                              }
                            }
                          },
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "environment": {
                                "type": "string"
                              },
                              "api-version": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "outputs": {
                        "type": "object",
                        "properties": {
                          "statusCode": {
                            "type": "integer"
                          },
                          "headers": {
                            "type": "object",
                            "properties": {
                              "Cache-Control": {
                                "type": "string"
                              },
                              "Strict-Transport-Security": {
                                "type": "string"
                              },
                              "x-ms-islandgateway": {
                                "type": "string"
                              },
                              "x-ms-request-id": {
                                "type": "string"
                              },
                              "x-ms-correlation-request-id": {
                                "type": "string"
                              },
                              "x-ms-correlation-id": {
                                "type": "string"
                              },
                              "Server-Timing": {
                                "type": "string"
                              },
                              "X-Content-Type-Options": {
                                "type": "string"
                              },
                              "x-ms-service-request-id": {
                                "type": "string"
                              },
                              "x-ms-activity-vector": {
                                "type": "string"
                              },
                              "Timing-Allow-Origin": {
                                "type": "string"
                              },
                              "x-ms-apihub-cached-response": {
                                "type": "string"
                              },
                              "x-ms-apihub-obo": {
                                "type": "string"
                              },
                              "Date": {
                                "type": "string"
                              },
                              "Content-Length": {
                                "type": "string"
                              },
                              "Content-Type": {
                                "type": "string"
                              }
                            }
                          },
                          "body": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "message": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "startTime": {
                        "type": "string"
                      },
                      "endTime": {
                        "type": "string"
                      },
                      "trackingId": {
                        "type": "string"
                      },
                      "clientTrackingId": {
                        "type": "string"
                      },
                      "clientKeywords": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "code": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "Apply_to_each_error": {
              "foreach": "@body('Parse_JSON_Error')",
              "actions": {
                "Append_to_string_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f5ee58f7-1661-4b96-94c2-3acbe38ed8b7"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "Status Message",
                    "value": "@{items('Apply_to_each_error')?['error']?['message']} "
                  }
                },
                "Append_to_string_variable_2": {
                  "runAfter": {
                    "Append_to_string_variable_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "57baecbb-902e-453a-b458-e478bd159651"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "Status Message",
                    "value": "@items('Apply_to_each_error')?['outputs']?['body']?['error']?['message']"
                  }
                },
                "Append_to_string_variable_3": {
                  "runAfter": {
                    "Append_to_string_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0e3e8155-b53e-4424-bc74-7374b4624c33"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "Status Message",
                    "value": "@items('Apply_to_each_error')?['outputs']?['body']?['message']"
                  }
                }
              },
              "runAfter": {
                "Parse_JSON_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2accf560-831a-4d59-b2c3-cf0af2a01675"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "b1cd5d2b-2bed-4963-afee-5d2f33b6be19"
          },
          "type": "Scope"
        },
        "Initialize_variable_-_Message": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e7f41205-1984-44f4-918b-878e88ea4261"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Status Message",
                "type": "string"
              }
            ]
          }
        },
        "Update_a_row": {
          "runAfter": {
            "Catch": [
              "Succeeded",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "b049a0e6-cf67-4af1-9fef-78a7b2220c86"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_installtemplatebatchprocesses",
              "recordId": "@triggerOutputs()?['body/mpa_installtemplatebatchprocessid']",
              "item/mpa_batchstatus": 865420002,
              "item/mpa_completedon": "@utcNow()",
              "item/mpa_message": "Batch processing complete.",
              "item/mpa_startedon": "@utcNow()"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_Status": {
          "runAfter": {
            "Initialize_variable_-_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "270c8fbd-15d4-415e-8646-8cc8b1afaa4e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Status",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}