Solutions/mpa_ExpenseReimbursement/src/Workflows/ExpenseReimbursement-UpdateApprovalStatus-BD0292AE-E7D5-EE11-9079-00224805C33A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_powerappsinnovationcenterdataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "a467a9ca-d804-41f6-a737-597822e7277a"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Row ID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Response Comment",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Approval Response",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter if approved or not",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Check_if_response_is_approved_or_denied": {
              "actions": {
                "Update_a_row_-_Approve": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "9fa1a66c-ac38-4b15-b614-262069a9ee0e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "mpa_reimbursementrequests",
                      "recordId": "@triggerBody()['text']",
                      "item/mpa_approvalstatus": 865420001,
                      "item/mpa_statuscomment": "@triggerBody()['text_1']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Update_a_row_-_Deny": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "faf3d7e0-56fd-4411-8808-4b36b3a75db7"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "mpa_reimbursementrequests",
                        "recordId": "@triggerBody()['text']",
                        "item/mpa_approvalstatus": 865420002,
                        "item/mpa_statuscomment": "@triggerBody()['text_1']"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerBody()['text_2']",
                  "Approve"
                ]
              },
              "metadata": {
                "operationMetadataId": "576e272a-9aaa-441e-b28d-99a83cd1bbe6"
              },
              "type": "If",
              "description": "Updated Record Approval Row to appropriate response"
            },
            "Respond_to_a_PowerApp_or_flow": {
              "runAfter": {
                "Check_if_response_is_approved_or_denied": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "53f59246-7b1c-4937-b07e-0b6c75dabe35"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "response": "Success"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "title": "Response",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0591e386-a824-475a-a175-3f8aff2ec63d"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_Data": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e847fa91-0860-4940-9709-1735f796748b"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "description": "Filter data by failed and timeout."
            },
            "Create_entry_in_Employee_Experience_Error": {
              "runAfter": {
                "Error_Return": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d7b067c6-fe34-4a13-8c87-d22bc89f1a0a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_employeeexperienceerrors",
                  "item/mpa_name": "@outputs('Error_Return')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('Error_Return')?['body'][0]['Step']",
                  "item/mpa_errormessage": "@outputs('Error_Return')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420001,
                  "item/mpa_workflowinstanceurl": "@outputs('Error_Return')?['body'][0]['URL']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              },
              "description": "Add new record in Employee Experience error table."
            },
            "Terminate": {
              "runAfter": {
                "Create_entry_in_Employee_Experience_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ddf9f509-d2b5-411d-a2be-61808598c00a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              },
              "description": "Terminate and set status to failed."
            },
            "Error_Return": {
              "runAfter": {
                "Filter_Data": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "08fe3aa3-bb2e-4039-bf63-e78ad0216a2f"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_Data')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "InnerErrorMessage": "@{item()?['error']?['message']} \n@{item()?['outputs']?['body']?['error']?['message']}",
                  "Input": "@triggerBody()['text']",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              },
              "description": "To hold a specific value."
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "d98cd7ff-0181-4990-b101-e626925bc95a"
          },
          "type": "Scope",
          "description": "To catch the specific error and add to IT error table."
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}