Accelerators/mpa_SAPProcurementAccelerator/src/Workflows/CreateGoodsReceipt-C7DB5284-EAE5-ED11-A7C7-0022480492D7.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPAcceleratorERP"
        },
        "api": {
          "name": "shared_saperp"
        }
      },
      "shared_commondataserviceforapps_1": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Application Server (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "c9a97e16-51b8-444f-97e7-79968f4d5122"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "JSON",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "BAPI_GOODSMVT_CREATE": {
              "runAfter": {
                "GOODSMVT_ITEM": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6375d28f-4e9d-4bb7-9a1a-3fcf40a05fb4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp_1",
                  "operationId": "CallRfcJson",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "rfcName": "BAPI_GOODSMVT_CREATE:Post goods movements with MB_CREATE_GOODS_MOVEMENT:MB_BUS2017",
                  "rfcGroupFilter": "*",
                  "autoCommit": true,
                  "rfcInputs/GOODSMVT_CODE/GM_CODE": "01",
                  "rfcInputs/GOODSMVT_HEADER/PSTNG_DATE": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
                  "rfcInputs/GOODSMVT_HEADER/DOC_DATE": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
                  "rfcInputs/GOODSMVT_HEADER/HEADER_TXT": "@variables('Header')?['DeliveryNote']",
                  "rfcInputs/GOODSMVT_ITEM": "@body('GOODSMVT_ITEM')"
                },
                "retryPolicy": {
                  "type": "none"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Set_Messages": {
              "runAfter": {
                "Set_SAPErrorMessage01": [
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "e2adf4c8-837d-44df-ba2f-aace124e14c7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Messages",
                "value": "@if(equals('',outputs('BAPI_GOODSMVT_CREATE')?['body/RETURN']), json('[]'), outputs('BAPI_GOODSMVT_CREATE')?['body/RETURN'])"
              }
            },
            "Filter_Messages_for_Errors": {
              "runAfter": {
                "Set_Messages": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "314738ec-9d05-4ae3-b089-64259885fb43"
              },
              "type": "Query",
              "inputs": {
                "from": "@variables('Messages')",
                "where": "@equals(item()?['TYPE'], 'E')"
              }
            },
            "Success_Check": {
              "actions": {
                "Success_Response": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "88ce5aac-9ebe-41ab-87a6-dea14c80f06e"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "Status": "Success",
                      "ReceiptNumber": "@outputs('BAPI_GOODSMVT_CREATE')?['body/MATERIALDOCUMENT']",
                      "Messages": [
                        {
                          "Message": "Goods receipt @{outputs('BAPI_GOODSMVT_CREATE')?['body/MATERIALDOCUMENT']} was successfully created."
                        }
                      ]
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "Status": {
                          "type": "string"
                        },
                        "ReceiptNumber": {
                          "type": "string"
                        },
                        "Messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "Message"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Filter_Messages_for_Errors": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "else": {
                "actions": {
                  "Clean_Up_Error_Messages": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3ac4404f-21c4-4bae-bac7-2525e23d910f"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@body('Filter_Messages_for_Errors')",
                      "select": {
                        "Message": "@item()?['MESSAGE']"
                      }
                    }
                  },
                  "Failure_Response": {
                    "runAfter": {
                      "Clean_Up_Error_Messages": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0364356b-c5f6-40d1-89d8-d1e42b0df753"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "Status": "Error",
                        "ReceiptNumber": "",
                        "Messages": "@body('Clean_Up_Error_Messages')"
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "Status": {
                            "type": "string"
                          },
                          "ReceiptNumber": {
                            "type": "string"
                          },
                          "Messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Message"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@length(outputs('Filter_Messages_for_Errors')?['body'])",
                      0
                    ]
                  },
                  {
                    "equals": [
                      "@length(variables('SAPErrorMessage'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "e9efd70f-e739-4ab6-ad9b-90b1e544b087"
              },
              "type": "If"
            },
            "Set_SAPErrorMessage01": {
              "runAfter": {
                "BAPI_GOODSMVT_CREATE": [
                  "TimedOut",
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce5d0c06-0fe6-4fc6-8645-10acf7f40f33"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SAPErrorMessage",
                "value": "@{body('BAPI_GOODSMVT_CREATE')['error']['message']}"
              }
            },
            "GOODSMVT_ITEM": {
              "runAfter": {
                "Items": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "67b60224-0f7c-4338-b520-808a2181795b"
              },
              "type": "Select",
              "inputs": {
                "from": "@variables('Items')",
                "select": {
                  "PO_ITEM": "@formatNumber(int(item()?['ItemNumber']), 'D5')",
                  "MATERIAL": "@if(isInt(item()?['MaterialNumber']), formatNumber(int(item()?['MaterialNumber']), 'D18'), item()?['MaterialNumber'])",
                  "PO_NUMBER": "@variables('Header')?['OrderNumber']",
                  "ENTRY_QNT": "@float(item()?['Quantity'])",
                  "ENTRY_UOM": "@item()?['UnitOfMeasure']",
                  "PLANT": "@item()?['Location']",
                  "NO_MORE_GR": "X",
                  "MOVE_TYPE": "101",
                  "MVT_IND": "B",
                  "STGE_LOC": "0001",
                  "VENDOR": "@if(isInt(variables('Header')?['Vendor']), formatNumber(int(variables('Header')?['Vendor']), 'D10'), variables('Header')?['Vendor'])"
                }
              }
            },
            "Items": {
              "runAfter": {
                "Header": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f00cd727-0c2f-4f45-bfcf-991bd8c2a4cc"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Items",
                "value": "@body('Parse_JSON')?['Items']"
              }
            },
            "Header": {
              "runAfter": {
                "Set_SAPErrorMessage01_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3fdf5713-6807-4679-a799-e4a7b2ad1bc2"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Header",
                "value": "@body('Parse_JSON')?['Header']"
              }
            },
            "Parse_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "12f0f586-4295-4bdd-8329-522cf48feb2c"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Header": {
                      "type": "object",
                      "properties": {
                        "OrderNumber": {
                          "type": "string"
                        },
                        "Vendor": {
                          "type": "string"
                        },
                        "DeliveryNote": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "OrderNumber",
                        "Vendor",
                        "DeliveryNote"
                      ]
                    },
                    "Items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Location": {
                            "type": "string"
                          },
                          "MaterialNumber": {
                            "type": "string"
                          },
                          "Quantity": {
                            "type": "number"
                          },
                          "ItemNumber": {
                            "type": "string"
                          },
                          "UnitOfMeasure": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Location",
                          "MaterialNumber",
                          "Quantity",
                          "ItemNumber",
                          "UnitOfMeasure"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Set_SAPErrorMessage01_2": {
              "runAfter": {
                "Parse_JSON": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce5d0c06-0fe6-4fc6-8645-10acf7f40f33"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SAPErrorMessage",
                "value": "@{outputs('Parse_JSON')['Errors']}"
              }
            }
          },
          "runAfter": {
            "Initialize_Items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "28315857-4b80-4654-b76e-811341aebc6d"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4ff6915-74dd-4ad8-aeb5-69689f7cd846"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "ErrorTable": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4543bb1-084d-4bd9-865a-d59ec8caa8fc"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Step",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Status",
                    "value": "@item()?['Status']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['code']"
                  },
                  {
                    "header": "InnerErrorMessage",
                    "value": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}@{variables('SAPErrorMessage')}"
                  },
                  {
                    "header": "Input",
                    "value": "@triggerBody()"
                  }
                ]
              }
            },
            "ErrorReturn": {
              "runAfter": {
                "ErrorTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ea00725-e758-40bb-9cc7-b69d0a65d01b"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "Code": "@item()?['code']",
                  "InnerErrorMessage": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']} @{item()?['error']?['message']} @{variables('SAPErrorMessage')}",
                  "Input": "@triggerBody()",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              }
            },
            "Create_Integration_Log_Error": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65c53a8f-bba5-4aee-a2c2-1bbea7395180"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_sapacceleratorerrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_additionalinformation": "@triggerBody()['text']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420000,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']",
                  "item/mpa_workflowstatus": "@If(equals(item()?['Status'], 'Failed'), '865420001', '865420000')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Response_3": {
              "runAfter": {
                "Create_Integration_Log_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a07fe00-c854-4b19-9f61-ff2091a0b894"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Status": "Error",
                  "Messages": [
                    {
                      "Message": "@outputs('Create_Integration_Log_Error')?['body/mpa_errormessage']"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string"
                    },
                    "ReceiptNumber": {
                      "type": "string"
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Message"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "acddc208-94dd-4daf-9177-fa386ba1baec"
          },
          "type": "Scope"
        },
        "Initialize_SAPErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6a6087f9-b1aa-4966-9ea5-0f695d638f87"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SAPErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Messages": {
          "runAfter": {
            "Initialize_SAPErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fa45b312-8bae-4596-a8f3-54a02a00b723"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Messages",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_Header": {
          "runAfter": {
            "Initialize_Messages": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6ca18f0d-8a62-4195-a1b3-af965ef6c938"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Header",
                "type": "object"
              }
            ]
          }
        },
        "Initialize_Items": {
          "runAfter": {
            "Initialize_Header": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "74e4c18d-ae64-4026-85d6-a14d4b7e3ed4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Items",
                "type": "array"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}