Accelerators/mpa_SAPProcurementAccelerator/src/Workflows/ReadVendorList-63F9FE91-8819-ED11-B83E-000D3A315C79.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPAcceleratorERP"
        },
        "api": {
          "name": "shared_saperp"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Application Server (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer"
          }
        },
        "SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)": {
          "defaultValue": 1000,
          "type": "Int",
          "metadata": {
            "schemaName": "mpa_SAPCountofRowsToRead"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "cdd15498-cdf4-4442-aaa7-a12d10649ff1"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "JSON",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Parse_List": {
              "runAfter": {
                "Set_SAPErrorMessage01": [
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('LFA1')?['body/Rows']",
                "select": {
                  "Vendor": "@if(isInt(item()?['LIFNR']), string(int(item()?['LIFNR'])), item()?['LIFNR'])",
                  "Country": "@item()?['LAND1']",
                  "VendorName": "@item()?['NAME1']",
                  "City": "@item()?['ORT01']",
                  "PostalCode": "@item()?['PSTLZ']",
                  "Street": "@item()?['STRAS']",
                  "Region": "@item()?['REGIO']"
                }
              }
            },
            "Check_Results": {
              "actions": {
                "Check_Max_Results": {
                  "actions": {
                    "Warning_Response": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "a0d2947e-a9cd-41f5-b010-0eec48a5144a"
                      },
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "body": {
                          "Status": "Warning",
                          "List": "@body('Parse_List')",
                          "Messages": [
                            {
                              "Message": "The maximum number of @{parameters('SAP Application Server (mpa_SAPApplicationServer)')} search results were returned and there may be records missing. Try refining your search criteria."
                            }
                          ]
                        },
                        "schema": {
                          "type": "object",
                          "properties": {
                            "List": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Vendor": {
                                    "type": "string"
                                  },
                                  "Country": {
                                    "type": "string"
                                  },
                                  "VendorName": {
                                    "type": "string"
                                  },
                                  "City": {
                                    "type": "string"
                                  },
                                  "PostalCode": {
                                    "type": "string"
                                  },
                                  "Street": {
                                    "type": "string"
                                  },
                                  "Region": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "Vendor",
                                  "Country",
                                  "Name",
                                  "City",
                                  "PostalCode",
                                  "Street",
                                  "Region"
                                ]
                              }
                            },
                            "Status": {
                              "type": "string"
                            },
                            "Messages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Message": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "Message"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Success_Response": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3acb6b71-7516-4f46-82a7-fe87c0f4120b"
                        },
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 200,
                          "body": {
                            "Status": "Success",
                            "List": "@body('Parse_List')",
                            "Messages": [
                              {
                                "Message": "@{length(body('Parse_List'))} vendor(s) found based on your search criteria."
                              }
                            ]
                          },
                          "schema": {
                            "type": "object",
                            "properties": {
                              "List": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Vendor": {
                                      "type": "string"
                                    },
                                    "Country": {
                                      "type": "string"
                                    },
                                    "VendorName": {
                                      "type": "string"
                                    },
                                    "City": {
                                      "type": "string"
                                    },
                                    "PostalCode": {
                                      "type": "string"
                                    },
                                    "Street": {
                                      "type": "string"
                                    },
                                    "Region": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "Vendor",
                                    "Country",
                                    "Name",
                                    "City",
                                    "PostalCode",
                                    "Street",
                                    "Region"
                                  ]
                                }
                              },
                              "Status": {
                                "type": "string"
                              },
                              "Messages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Message": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "Message"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@length(body('Parse_List'))",
                      "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c05afbec-47c1-4992-8083-1cb6c879d0ae"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Parse_List": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "else": {
                "actions": {
                  "Information_Response": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "ce2ed136-afba-459c-8477-73e7db07d1aa"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "Status": "Information",
                        "List": "@body('Parse_List')",
                        "Messages": [
                          {
                            "Message": "@{length(body('Parse_List'))} vendor(s) found based on your search criteria."
                          }
                        ]
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "List": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Vendor": {
                                  "type": "string"
                                },
                                "Country": {
                                  "type": "string"
                                },
                                "VendorName": {
                                  "type": "string"
                                },
                                "City": {
                                  "type": "string"
                                },
                                "PostalCode": {
                                  "type": "string"
                                },
                                "Street": {
                                  "type": "string"
                                },
                                "Region": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Vendor",
                                "Country",
                                "Name",
                                "City",
                                "PostalCode",
                                "Street",
                                "Region"
                              ]
                            }
                          },
                          "Status": {
                            "type": "string"
                          },
                          "Messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Message"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(body('Parse_List'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "955ae087-51e8-44ae-92e3-854d97819631"
              },
              "type": "If"
            },
            "LFA1": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "957b1a89-91e3-4638-8e87-ba9e973a2394"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp_1",
                  "operationId": "ReadTableVersion3",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "inputParameters/tableName": "LFA1",
                  "inputParameters/FieldNames": [
                    "LIFNR:Account Number of Vendor or Creditor",
                    "LAND1:Country Key",
                    "NAME1:Name 1",
                    "ORT01:City",
                    "PSTLZ:Postal Code",
                    "STRAS:House number and street",
                    "REGIO:Region (State, Province, County)"
                  ],
                  "inputParameters/RowCount": "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')",
                  "inputParameters/WhereFilters": [
                    "MCOD1 LIKE '%@{toUpper(body('Parse_JSON')?['Name'])}%' ",
                    "AND (STRAS LIKE '%@{body('Parse_JSON')?['Street']}%' ",
                    "OR STRAS LIKE '%@{toUpper(body('Parse_JSON')?['Street'])}%' ",
                    "OR STRAS LIKE '%@{toLower(body('Parse_JSON')?['Street'])}%')",
                    "AND MCOD3 LIKE '%@{toUpper(body('Parse_JSON')?['City'])}%' ",
                    "AND REGIO LIKE '%@{body('Parse_JSON')?['Region']}%'",
                    "AND PSTLZ LIKE '%@{body('Parse_JSON')?['PostalCode']}%'",
                    "AND LAND1 LIKE '%@{body('Parse_JSON')?['Country']}%'"
                  ]
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Parse_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "12f0f586-4295-4bdd-8329-522cf48feb2c"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "VendorName": {
                      "type": "string"
                    },
                    "Street": {
                      "type": "string"
                    },
                    "City": {
                      "type": "string"
                    },
                    "Region": {
                      "type": "string"
                    },
                    "PostalCode": {
                      "type": "string"
                    },
                    "Country": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Set_SAPErrorMessage01": {
              "runAfter": {
                "LFA1": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce5d0c06-0fe6-4fc6-8645-10acf7f40f33"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SAPErrorMessage",
                "value": "@{body('LFA1')['error']['innerError']['error']['message']}"
              }
            }
          },
          "runAfter": {
            "Initialize_SAPErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7dfbbf92-a951-4427-aeac-c30e788f383b"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4ff6915-74dd-4ad8-aeb5-69689f7cd846"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "ErrorTable": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4543bb1-084d-4bd9-865a-d59ec8caa8fc"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Step",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Status",
                    "value": "@item()?['Status']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['code']"
                  },
                  {
                    "header": "InnerErrorMessage",
                    "value": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}@{variables('SAPErrorMessage')}"
                  },
                  {
                    "header": "Input",
                    "value": "@triggerBody()"
                  }
                ]
              }
            },
            "ErrorReturn": {
              "runAfter": {
                "ErrorTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ea00725-e758-40bb-9cc7-b69d0a65d01b"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "Code": "@item()?['code']",
                  "InnerErrorMessage": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']} @{item()?['error']?['message']} @{variables('SAPErrorMessage')}",
                  "Input": "@triggerBody()",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              }
            },
            "Create_Integration_Log_Error": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65c53a8f-bba5-4aee-a2c2-1bbea7395180"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_sapacceleratorerrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_additionalinformation": "@triggerBody()['text']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420000,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']",
                  "item/mpa_workflowstatus": "@If(equals(item()?['Status'],'Failed'),'865420001', '865420000')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Error_Response": {
              "runAfter": {
                "Create_Integration_Log_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a07fe00-c854-4b19-9f61-ff2091a0b894"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Status": "Error",
                  "Messages": [
                    {
                      "Message": "@outputs('Create_Integration_Log_Error')?['body/mpa_errormessage']"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "List": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Vendor": {
                            "type": "string"
                          },
                          "Country": {
                            "type": "string"
                          },
                          "VendorName": {
                            "type": "string"
                          },
                          "City": {
                            "type": "string"
                          },
                          "PostalCode": {
                            "type": "string"
                          },
                          "Street": {
                            "type": "string"
                          },
                          "Region": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Vendor",
                          "Country",
                          "Name",
                          "City",
                          "PostalCode",
                          "Street",
                          "Region"
                        ]
                      }
                    },
                    "Status": {
                      "type": "string"
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Message"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "acddc208-94dd-4daf-9177-fa386ba1baec"
          },
          "type": "Scope"
        },
        "Initialize_SAPErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b21088a4-ccc2-4c04-b4fc-e3dc767649f8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SAPErrorMessage",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}