Solutions/mpa_SAPProcurement/src/Workflows/ApprovePurchaseOrder-475F323D-40E8-ED11-A7C6-0022480492D7.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPERP"
        },
        "api": {
          "name": "shared_saperp"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Application Server (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer",
            "description": "JSON string that contains system parameters, host, system number, client, etc."
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "09fe0e77-fa56-421f-9603-a564123a887e"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "OrderNumber",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Order": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4b0212c7-3ffa-4661-9cb5-e4e8ac8d68e7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Order",
                "type": "string",
                "value": "@triggerBody()['text']"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "BAPI_PO_RELEASE": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c2cc57cf-1a99-4df1-9939-392f92b83bf3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp_1",
                  "operationId": "CallRfcJson",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "rfcName": "BAPI_PO_RELEASE:Release Purchase Orders:MEWF",
                  "rfcGroupFilter": "*",
                  "autoCommit": true,
                  "rfcInputs/PO_REL_CODE": "01",
                  "rfcInputs/PURCHASEORDER": "@variables('Order')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Messages": {
              "runAfter": {
                "Set_SAPErrorMessage01": [
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "1c5ddc2f-7d96-4027-aa18-a54258f7e8a4"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Messages",
                "value": "@if(equals('',outputs('BAPI_PO_RELEASE')?['body/RETURN']), json('[]'), outputs('BAPI_PO_RELEASE')?['body/RETURN'])"
              }
            },
            "Filter_Messages_for_Errors": {
              "runAfter": {
                "Messages": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "314738ec-9d05-4ae3-b089-64259885fb43"
              },
              "type": "Query",
              "inputs": {
                "from": "@variables('Messages')",
                "where": "@equals(item()?['TYPE'], 'E')"
              }
            },
            "Success_Check": {
              "actions": {
                "Success_Response": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "88ce5aac-9ebe-41ab-87a6-dea14c80f06e"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "Status": "Success",
                      "OrderNumber": "@variables('Order')",
                      "Messages": [
                        {
                          "Message": "Purchase order @{variables('Order')} was successfully approved."
                        }
                      ]
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "Status": {
                          "type": "string"
                        },
                        "OrderNumber": {
                          "type": "string"
                        },
                        "Messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "Message"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Filter_Messages_for_Errors": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "else": {
                "actions": {
                  "Clean_Up_Error_Messages": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3ac4404f-21c4-4bae-bac7-2525e23d910f"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@body('Filter_Messages_for_Errors')",
                      "select": {
                        "Message": "@item()?['MESSAGE']"
                      }
                    }
                  },
                  "Failure_Response": {
                    "runAfter": {
                      "Clean_Up_Error_Messages": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0364356b-c5f6-40d1-89d8-d1e42b0df753"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "Status": "Error",
                        "OrderNumber": "@variables('Order')",
                        "Messages": "@body('Clean_Up_Error_Messages')"
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "Status": {
                            "type": "string"
                          },
                          "OrderNumber": {
                            "type": "string"
                          },
                          "Messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Message"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(outputs('Filter_Messages_for_Errors')?['body'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "e9efd70f-e739-4ab6-ad9b-90b1e544b087"
              },
              "type": "If"
            },
            "Set_SAPErrorMessage01": {
              "runAfter": {
                "BAPI_PO_RELEASE": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce5d0c06-0fe6-4fc6-8645-10acf7f40f33"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SAPErrorMessage",
                "value": "@{body('BAPI_PO_RELEASE')['error']['message']}"
              }
            }
          },
          "runAfter": {
            "Initialize_Messages": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a12e704c-3a39-4e58-ab33-0ca64fcfa0f7"
          },
          "type": "Scope"
        },
        "Initialize_Messages": {
          "runAfter": {
            "Initialize_SAPErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c7fb2cbc-c01e-438d-900d-7010bbea9535"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Messages",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_SAPErrorMessage": {
          "runAfter": {
            "Order": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b21088a4-ccc2-4c04-b4fc-e3dc767649f8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SAPErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4ff6915-74dd-4ad8-aeb5-69689f7cd846"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "ErrorTable": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4543bb1-084d-4bd9-865a-d59ec8caa8fc"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Step",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Status",
                    "value": "@item()?['Status']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['code']"
                  },
                  {
                    "header": "InnerErrorMessage",
                    "value": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}@{variables('SAPErrorMessage')}"
                  },
                  {
                    "header": "Input",
                    "value": "@triggerBody()"
                  }
                ]
              }
            },
            "ErrorReturn": {
              "runAfter": {
                "ErrorTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ea00725-e758-40bb-9cc7-b69d0a65d01b"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "Code": "@item()?['code']",
                  "InnerErrorMessage": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']} @{variables('SAPErrorMessage')}",
                  "Input": "@triggerBody()",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              }
            },
            "Create_Integration_Log_Errror": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65c53a8f-bba5-4aee-a2c2-1bbea7395180"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_saperrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_additionalinformation": "@triggerBody()['text']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420000,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']",
                  "item/mpa_workflowstatus": "@If(equals(item()?['Status'], 'Failed'), '865420001', '865420000')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Error_Response": {
              "runAfter": {
                "Create_Integration_Log_Errror": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a07fe00-c854-4b19-9f61-ff2091a0b894"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Status": "Error",
                  "Messages": [
                    {
                      "Message": "@outputs('Create_Integration_Log_Errror')?['body/mpa_errormessage']"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string"
                    },
                    "OrderNumber": {
                      "type": "string"
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Message"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Error_Response": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "990b7cab-d9b5-4884-b906-6714712a9032"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "acddc208-94dd-4daf-9177-fa386ba1baec"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}