Solutions/mpa_SAPProcurement/src/Workflows/CreateVendorInvoice-01850FF0-E2FF-ED11-8F6E-002248049C83.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPERP"
        },
        "api": {
          "name": "shared_saperp"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Application Server (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer",
            "description": "JSON string that contains system parameters, host, system number, client, etc."
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ab7e99c4-48eb-4e63-b2eb-be13bd592813"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "JSON",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_Invoice_Number": {
          "runAfter": {
            "Initialize_SAPErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6ed5aa4b-4be1-4c3d-9d71-61407e82ea08"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Purchase Order Number",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_HEADERDATA": {
          "runAfter": {
            "Initialize_Invoice_Number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6cbfab8f-a161-42d5-9e57-30c613507fb2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "HEADERDATA",
                "type": "object"
              }
            ]
          }
        },
        "Initialize_Messages": {
          "runAfter": {
            "Initialize_HEADERDATA": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3ca9d172-3dad-4359-9b26-263658faca63"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Messages",
                "type": "array"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "Set_HEADERDATA": {
              "runAfter": {
                "BAPI_PO_GETDETAIL1": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2f1ef0e7-7b31-4102-80e6-75dd961fcaf6"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "HEADERDATA",
                "value": {
                  "INVOICE_IND": "X",
                  "DIFF_INV": "@outputs('BAPI_PO_GETDETAIL1')?['body/POHEADER/VENDOR']",
                  "DOC_TYPE": "@body('Parse_JSON')?['Header']?['Type']",
                  "COMP_CODE": "@outputs('BAPI_PO_GETDETAIL1')?['body/POHEADER/COMP_CODE']",
                  "CURRENCY": "@outputs('BAPI_PO_GETDETAIL1')?['body/POHEADER/CURRENCY']",
                  "PSTNG_DATE": "@body('Parse_JSON')?['Header']?['PostingDate']",
                  "DOC_DATE": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
                  "GROSS_AMOUNT": "@body('Parse_JSON')?['Header']?['TotalPrice']",
                  "PYMT_METH": "@body('Parse_JSON')?['Header']?['PaymentMethod']",
                  "BLINE_DATE": "@formatDateTime(addDays(utcNow(), 30), 'yyyy-MM-dd')"
                }
              }
            },
            "Map_ITEMDATA": {
              "runAfter": {
                "Set_HEADERDATA": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "67b60224-0f7c-4338-b520-808a2181795b"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Parse_JSON')?['Items']",
                "select": {
                  "PO_ITEM": "@formatNumber(int(item()?['ItemNumber']), 'D5')",
                  "QUANTITY": "@item()?['Quantity']",
                  "PO_UNIT": "@item()?['UnitOfMeasure']",
                  "INVOICE_DOC_ITEM": "@formatNumber(int(item()?['ItemNumber']), 'D5')",
                  "ITEM_TEXT": "@item()?['Description']",
                  "PO_NUMBER": "@variables('Purchase Order Number')",
                  "TAX_CODE": "U0",
                  "TAXJURCODE": "IN0000000",
                  "ITEM_AMOUNT": "@item()?['TotalPrice']"
                }
              }
            },
            "BAPI_INCOMINGINVOICE_CREATE1": {
              "runAfter": {
                "Map_ITEMDATA": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f1e08c04-1926-4744-a8a0-d0a42db2f7df"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp_1",
                  "operationId": "CallRfcJson",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "rfcName": "BAPI_INCOMINGINVOICE_CREATE1:Invoice Verification: Hold/ Park/ Park As Complete/ Post Incoming Invoice:MRM_BAPI",
                  "rfcGroupFilter": "*",
                  "autoCommit": true,
                  "rfcInputs/HEADERDATA/INVOICE_IND": "@variables('HEADERDATA')?['INVOICE_IND']",
                  "rfcInputs/HEADERDATA/DOC_TYPE": "@variables('HEADERDATA')?['DOC_TYPE']",
                  "rfcInputs/HEADERDATA/DOC_DATE": "@variables('HEADERDATA')?['DOC_DATE']",
                  "rfcInputs/HEADERDATA/PSTNG_DATE": "@variables('HEADERDATA')?['PSTNG_DATE']",
                  "rfcInputs/HEADERDATA/COMP_CODE": "@variables('HEADERDATA')?['COMP_CODE']",
                  "rfcInputs/HEADERDATA/DIFF_INV": "@variables('HEADERDATA')?['DIFF_INV']",
                  "rfcInputs/HEADERDATA/CURRENCY": "@variables('HEADERDATA')?['CURRENCY']",
                  "rfcInputs/HEADERDATA/GROSS_AMOUNT": "@variables('HEADERDATA')?['GROSS_AMOUNT']",
                  "rfcInputs/HEADERDATA/BLINE_DATE": "@variables('HEADERDATA')?['BLINE_DATE']",
                  "rfcInputs/HEADERDATA/PYMT_METH": "@variables('HEADERDATA')?['PYMT_METH']",
                  "rfcInputs/INVOICESTATUS": "A",
                  "rfcInputs/ITEMDATA": "@body('Map_ITEMDATA')"
                },
                "retryPolicy": {
                  "type": "none"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Filter_Messages_for_Errors": {
              "runAfter": {
                "Set_SAPErrorMessage_02": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "314738ec-9d05-4ae3-b089-64259885fb43"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('BAPI_INCOMINGINVOICE_CREATE1')?['body/RETURN']",
                "where": "@equals(item()?['TYPE'], 'E')"
              }
            },
            "Success_Check": {
              "actions": {
                "Success_Response": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "88ce5aac-9ebe-41ab-87a6-dea14c80f06e"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "Status": "Success",
                      "InvoiceNumber": "@{outputs('BAPI_INCOMINGINVOICE_CREATE1')?['body/INVOICEDOCNUMBER']}",
                      "Messages": [
                        {
                          "Message": "Vendor invoice @{outputs('BAPI_INCOMINGINVOICE_CREATE1')?['body/INVOICEDOCNUMBER']} was successfully created."
                        }
                      ]
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "Status": {
                          "type": "string"
                        },
                        "InvoiceNumber": {
                          "type": "string"
                        },
                        "Messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "Message"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Filter_Messages_for_Errors": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "else": {
                "actions": {
                  "Clean_Up_Error_Messages": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3ac4404f-21c4-4bae-bac7-2525e23d910f"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@body('Filter_Messages_for_Errors')",
                      "select": {
                        "Message": "@item()?['MESSAGE']"
                      }
                    }
                  },
                  "Failure_Response": {
                    "runAfter": {
                      "Clean_Up_Error_Messages": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0364356b-c5f6-40d1-89d8-d1e42b0df753"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "Status": "Error",
                        "Invoice": "",
                        "Messages": "@body('Clean_Up_Error_Messages')"
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "Status": {
                            "type": "string"
                          },
                          "InvoiceNumber": {
                            "type": "string"
                          },
                          "Messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Message"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(outputs('Filter_Messages_for_Errors')?['body'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "e9efd70f-e739-4ab6-ad9b-90b1e544b087"
              },
              "type": "If"
            },
            "Set_SAPErrorMessage_02": {
              "runAfter": {
                "BAPI_INCOMINGINVOICE_CREATE1": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "f7266565-653e-47a1-a5d1-5320d9011108"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SAPErrorMessage",
                "value": "@{body('BAPI_INCOMINGINVOICE_CREATE1')['error']['message']}"
              }
            },
            "Parse_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "12f0f586-4295-4bdd-8329-522cf48feb2c"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Header": {
                      "type": "object",
                      "properties": {
                        "PurchaseOrderNumber": {
                          "type": "string"
                        },
                        "TotalPrice": {
                          "type": "number"
                        },
                        "PostingDate": {
                          "type": "string"
                        },
                        "Type": {
                          "type": "string"
                        },
                        "PaymentMethod": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "PurchaseOrderNumber",
                        "TotalPrice",
                        "PostingDate",
                        "Type",
                        "PaymentMethod"
                      ]
                    },
                    "Items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Description": {
                            "type": "string"
                          },
                          "Quantity": {
                            "type": "number"
                          },
                          "ItemNumber": {
                            "type": "string"
                          },
                          "UnitOfMeasure": {
                            "type": "string"
                          },
                          "TotalPrice": {
                            "type": "number"
                          },
                          "PurchaseOrderNumber": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Description",
                          "Quantity",
                          "ItemNumber",
                          "UnitOfMeasure",
                          "TotalPrice"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "BAPI_PO_GETDETAIL1": {
              "runAfter": {
                "Set_Order_Value": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c4a951cf-cc55-4699-98c9-a587c7379ccf"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp_1",
                  "operationId": "CallRfcJson",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "rfcName": "BAPI_PO_GETDETAIL1:Detail Information for a Purchase Order:2012",
                  "rfcGroupFilter": "*",
                  "autoCommit": true,
                  "rfcInputs/PURCHASEORDER": "@variables('Purchase Order Number')"
                },
                "retryPolicy": {
                  "type": "none"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Set_Order_Value": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "19b6fdc6-7937-4a30-b15e-2e846249e7b5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Purchase Order Number",
                "value": "@body('Parse_JSON')?['Header']?['PurchaseOrderNumber']"
              }
            }
          },
          "runAfter": {
            "Initialize_Messages": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a3a54d29-cd8e-43de-9763-d8160f31848a"
          },
          "type": "Scope"
        },
        "Initialize_SAPErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6a6087f9-b1aa-4966-9ea5-0f695d638f87"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SAPErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4ff6915-74dd-4ad8-aeb5-69689f7cd846"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "ErrorTable": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4543bb1-084d-4bd9-865a-d59ec8caa8fc"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Step",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Status",
                    "value": "@item()?['Status']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['code']"
                  },
                  {
                    "header": "InnerErrorMessage",
                    "value": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}@{variables('SAPErrorMessage')}"
                  },
                  {
                    "header": "Input",
                    "value": "@triggerBody()"
                  }
                ]
              }
            },
            "ErrorReturn": {
              "runAfter": {
                "ErrorTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ea00725-e758-40bb-9cc7-b69d0a65d01b"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "Code": "@item()?['code']",
                  "InnerErrorMessage": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']} @{item()?['error']?['message']} @{variables('SAPErrorMessage')}",
                  "Input": "@triggerBody()",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              }
            },
            "Error_Response": {
              "runAfter": {
                "Create_Integration_Log_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a07fe00-c854-4b19-9f61-ff2091a0b894"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Status": "Error",
                  "Messages": [
                    {
                      "Message": "@outputs('Create_Integration_Log_Error')?['body/mpa_errormessage']"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string"
                    },
                    "InvoiceNumber": {
                      "type": "string"
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Message"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Create_Integration_Log_Error": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65c53a8f-bba5-4aee-a2c2-1bbea7395180"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_saperrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_additionalinformation": "@triggerBody()['text']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420000,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']",
                  "item/mpa_workflowstatus": "@If(equals(item()?['Status'], 'Failed'), '865420001', '865420000')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Error_Response": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "51910618-eeea-4702-a405-27ca80e0d303"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "acddc208-94dd-4daf-9177-fa386ba1baec"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}