Solutions/mpa_SAPProcurement/src/Workflows/ReadMaterial-123F3EE5-72EF-ED11-8849-002248049B8B.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPERP"
        },
        "api": {
          "name": "shared_saperp"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Application Server (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer"
          }
        },
        "SAP SPRAS (mpa_SAPSPRAS)": {
          "defaultValue": "EN",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPSPRAS",
            "description": "Language Key from T0002"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "88e97e56-0a7b-4091-968c-619a2a43e9a4"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Json",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_SAPErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6a6087f9-b1aa-4966-9ea5-0f695d638f87"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SAPErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Material": {
          "runAfter": {
            "Initialize_SAPErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c93e311d-f4b7-4f1a-b0b7-345d9fe18aa3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Material",
                "type": "string"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "Material": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4b0212c7-3ffa-4661-9cb5-e4e8ac8d68e7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Material",
                "value": "@triggerBody()['text']"
              }
            },
            "Material_Header": {
              "runAfter": {
                "Material": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bde68cbe-3cb3-452e-ad35-c93aeb46853f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp",
                  "connectionName": "shared_saperp",
                  "operationId": "ReadTableVersion3"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "inputParameters/tableName": "ENT1027",
                  "inputParameters/FieldNames": [
                    "MATNR:Material Number",
                    "MAKTX:Material Description",
                    "MEINS:Base Unit of Measure",
                    "MTART:Material Type"
                  ],
                  "inputParameters/WhereFilters": [
                    "MATNR = '@{if(isInt(variables('Material')), formatNumber(int(variables('Material')), 'D18'), variables('Material'))}'",
                    "AND SPRAS = '@{parameters('SAP SPRAS (mpa_SAPSPRAS)')}'"
                  ]
                },
                "retryPolicy": {
                  "type": "none"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Parse_Header": {
              "runAfter": {
                "Material_Header": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('Material_Header')?['body/Rows']",
                "select": {
                  "MaterialNumber": "@if(isInt(item()?['MATNR']), string(int(item()?['MATNR'])), item()?['MATNR'])",
                  "Description": "@item()?['MAKTX']",
                  "Unit": "@item()?['MEINS']",
                  "Type": "@item()?['MTART']"
                }
              }
            },
            "Condition": {
              "actions": {
                "Response": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3acb6b71-7516-4f46-82a7-fe87c0f4120b"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "Status": "Success",
                      "Material": "@body('Parse_Header')[0]?['Material']",
                      "Header": "@body('Parse_Header')[0]",
                      "Messages": []
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "Material": {
                          "type": "string"
                        },
                        "Header": {
                          "type": "object",
                          "properties": {
                            "MaterialNumber": {
                              "type": "string"
                            },
                            "Description": {
                              "type": "string"
                            },
                            "Unit": {
                              "type": "string"
                            },
                            "Type": {
                              "type": "string"
                            }
                          }
                        },
                        "Status": {
                          "type": "string"
                        },
                        "Messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "Message"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Parse_Header": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Response_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "72b7a397-6c6e-483d-a6ec-c24b581a0b3c"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "Status": "Information",
                        "Messages": [
                          {
                            "Message": "No materials found."
                          }
                        ]
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "Material": {
                            "type": "string"
                          },
                          "Header": {
                            "type": "object",
                            "properties": {
                              "MaterialNumber": {
                                "type": "string"
                              },
                              "Description": {
                                "type": "string"
                              },
                              "Unit": {
                                "type": "string"
                              },
                              "Type": {
                                "type": "string"
                              }
                            }
                          },
                          "Status": {
                            "type": "string"
                          },
                          "Messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Message"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(outputs('Material_Header')?['body/Rows'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "ce2d61ad-111c-4b19-8a08-6f924351c977"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_Material": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d433a8ae-dcc3-4e67-8d7d-000ac0fd6793"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4ff6915-74dd-4ad8-aeb5-69689f7cd846"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "ErrorTable": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4543bb1-084d-4bd9-865a-d59ec8caa8fc"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Step",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Status",
                    "value": "@item()?['Status']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['code']"
                  },
                  {
                    "header": "InnerErrorMessage",
                    "value": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}@{variables('SAPErrorMessage')}"
                  },
                  {
                    "header": "Input",
                    "value": "@triggerBody()"
                  }
                ]
              }
            },
            "ErrorReturn": {
              "runAfter": {
                "ErrorTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ea00725-e758-40bb-9cc7-b69d0a65d01b"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "Code": "@item()?['code']",
                  "InnerErrorMessage": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']} @{item()?['error']?['message']} @{variables('SAPErrorMessage')}",
                  "Input": "@triggerBody()",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              }
            },
            "Create_Integration_Log_Error": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65c53a8f-bba5-4aee-a2c2-1bbea7395180"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord"
                },
                "parameters": {
                  "entityName": "mpa_saperrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_additionalinformation": "@triggerBody()['text']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420000,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']",
                  "item/mpa_workflowstatus": "@If(equals(item()?['Status'], 'Failed'), '865420001', '865420000')"
                },
                "retryPolicy": {
                  "type": "none"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Response_3": {
              "runAfter": {
                "Create_Integration_Log_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a07fe00-c854-4b19-9f61-ff2091a0b894"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Status": "Error",
                  "Messages": [
                    {
                      "Message": "@outputs('Create_Integration_Log_Error')?['body/mpa_errormessage']"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "Material": {
                      "type": "string"
                    },
                    "Header": {
                      "type": "object",
                      "properties": {
                        "MaterialNumber": {
                          "type": "string"
                        },
                        "Description": {
                          "type": "string"
                        },
                        "Unit": {
                          "type": "string"
                        },
                        "Type": {
                          "type": "string"
                        }
                      }
                    },
                    "Status": {
                      "type": "string"
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Message"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "acddc208-94dd-4daf-9177-fa386ba1baec"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}