Solutions/mpa_SAPProcurement/src/Workflows/ReadGoodsReceiptList-2EB3A684-766A-ED11-9562-000D3A341930.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPERP"
        },
        "api": {
          "name": "shared_saperp"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Application Server (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer",
            "description": "JSON string that contains system parameters, host, system number, client, etc."
          }
        },
        "SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)": {
          "defaultValue": 1000,
          "type": "Int",
          "metadata": {
            "schemaName": "mpa_SAPCountofRowsToRead",
            "description": "Sets the maximum number of records to be returned on any search query and helps to alleviate performance concerns"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "dee3b258-7b5a-4c17-8330-a3a19e921ff2"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "JSON",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_SAPErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6a6087f9-b1aa-4966-9ea5-0f695d638f87"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SAPErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_SystemUserID": {
          "runAfter": {
            "Initialize_SAPErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0f018d41-d5b3-4d6d-861e-5d1d6a78e098"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SystemUserID",
                "type": "string"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "Parse_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "12f0f586-4295-4bdd-8329-522cf48feb2c"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Vendor": {
                      "type": "string"
                    },
                    "PurchaseOrder": {
                      "type": "string"
                    },
                    "Material": {
                      "type": "string"
                    },
                    "DateFrom": {
                      "type": "string"
                    },
                    "DateTo": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Goods_Movement": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "798423dd-1979-4523-a507-8192a6ed0046"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp",
                  "operationId": "ReadTableVersion3",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "inputParameters/tableName": "MSEG",
                  "inputParameters/FieldNames": [
                    "EBELN:Purchase Order Number",
                    "LIFNR:Vendor's account number",
                    "BWART:Movement Type (Inventory Management)",
                    "MATNR:Material Number",
                    "BUDAT_MKPF:Posting Date in the Document",
                    "MJAHR:Material Document Year",
                    "MBLNR:Number of Material Document",
                    "WERKS:Plant",
                    "LGORT:Storage Location"
                  ],
                  "inputParameters/RowCount": "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')",
                  "inputParameters/WhereFilters": [
                    "BWART = '101'",
                    "AND MATNR LIKE '%@{body('Parse_JSON')?['Material']}%'",
                    "AND LIFNR LIKE '%@{body('Parse_JSON')?['Vendor']}%'",
                    "AND EBELN LIKE '%@{body('Parse_JSON')?['PurchaseOrder']}%'",
                    "AND BUDAT_MKPF BETWEEN '@{if(equals(body('Parse_JSON')?['DateFrom'],''),'19000101',body('Parse_JSON')?['DateFrom'])}' AND '@{if(equals(body('Parse_JSON')?['DateTo'],''),'99991231',body('Parse_JSON')?['DateTo'])}'"
                  ]
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Condition": {
              "actions": {
                "Parse_Goods_Movement": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Goods_Movement')?['body/Rows']",
                    "select": {
                      "PurchaseOrder": "@item()?['EBELN']",
                      "Vendor": "@if(isInt(item()?['LIFNR']), string(int(item()?['LIFNR'])),item()?['LIFNR'])",
                      "MovementType": "@item()?['BWART']",
                      "Material": "@item()?['MATNR']",
                      "PostingDate": "@item()?['BUDAT_MKPF']",
                      "FiscalYear": "@item()?['MJAHR']",
                      "MaterialDocument": "@item()?['MBLNR']",
                      "Location": "@item()?['WERKS']",
                      "VendorRaw": "@item()?['LIFNR']"
                    }
                  }
                },
                "Prepare_IN_Statement": {
                  "runAfter": {
                    "Parse_Goods_Movement": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Parse_Goods_Movement')",
                    "select": "@concat('''', item()?['VendorRaw'], '''', ',')"
                  }
                },
                "Finalize_IN_Statement": {
                  "runAfter": {
                    "Prepare_IN_Statement": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "42c0b6dd-26a1-41e9-b4a7-8d91fc33dd16"
                  },
                  "type": "Compose",
                  "inputs": "@union(json('[\"LIFNR IN (\"]'), body('Prepare_IN_Statement'), json('[\")\"]'))"
                },
                "Vendor_Names": {
                  "runAfter": {
                    "Finalize_IN_Statement": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "17eb13b8-250e-4046-aeb9-0ca0019482d0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_saperp",
                      "operationId": "ReadTableVersion3",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                    },
                    "parameters": {
                      "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                      "inputParameters/tableName": "LFA1",
                      "inputParameters/FieldNames": [
                        "LIFNR:Account Number of Vendor or Creditor",
                        "NAME1:Name 1"
                      ],
                      "inputParameters/RowCount": 99999,
                      "inputParameters/WhereFilters": "@outputs('Finalize_IN_Statement')"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "none"
                    }
                  }
                },
                "Parse_Vendors": {
                  "runAfter": {
                    "Set_SAPErrorMessage02": [
                      "Skipped"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Vendor_Names')?['body/Rows']",
                    "select": {
                      "Vendor": "@if(isInt(item()?['LIFNR']), string(int(item()?['LIFNR'])), item()?['LIFNR'])",
                      "Name": "@item()?['NAME1']"
                    }
                  }
                },
                "Set_SAPErrorMessage02": {
                  "runAfter": {
                    "Vendor_Names": [
                      "TimedOut",
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a14827f7-6590-4731-b161-ee7be3bdf67d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SAPErrorMessage",
                    "value": "@{body('Vendor_Names')['error']['message']}"
                  }
                },
                "Check_max_results": {
                  "actions": {
                    "Warning_Response": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "92fe8467-4ebb-4cc9-850c-be96576b6f89"
                      },
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "body": {
                          "Status": "Warning",
                          "List": "@body('Parse_Goods_Movement')",
                          "Names": "@body('Parse_Vendors')",
                          "Messages": [
                            {
                              "Message": "The maximum number of @{parameters('SAP Application Server (mpa_SAPApplicationServer)')} search results were returned and there may be records missing. Try refining your search criteria."
                            }
                          ]
                        },
                        "schema": {
                          "type": "object",
                          "properties": {
                            "List": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "PurchaseOrder": {
                                    "type": "string"
                                  },
                                  "Vendor": {
                                    "type": "string"
                                  },
                                  "MovementType": {
                                    "type": "string"
                                  },
                                  "Material": {
                                    "type": "string"
                                  },
                                  "PostingDate": {
                                    "type": "string"
                                  },
                                  "FiscalYear": {
                                    "type": "string"
                                  },
                                  "MaterialDocument": {
                                    "type": "string"
                                  },
                                  "Location": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "PurchaseOrder",
                                  "Vendor",
                                  "MovementType",
                                  "Material",
                                  "PostingDate",
                                  "FiscalYear",
                                  "MaterialDocument",
                                  "Location"
                                ]
                              }
                            },
                            "Names": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Vendor": {
                                    "type": "string"
                                  },
                                  "Name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "Vendor",
                                  "Name"
                                ]
                              }
                            },
                            "Status": {
                              "type": "string"
                            },
                            "Messages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Message": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "Message"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Parse_Vendors": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Success_Response": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3acb6b71-7516-4f46-82a7-fe87c0f4120b"
                        },
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 200,
                          "body": {
                            "Status": "Success",
                            "List": "@body('Parse_Goods_Movement')",
                            "Names": "@body('Parse_Vendors')",
                            "Messages": [
                              {
                                "Message": "@{length(body('Parse_Goods_Movement'))} goods receipts were found based on your search criteria."
                              }
                            ]
                          },
                          "schema": {
                            "type": "object",
                            "properties": {
                              "List": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "PurchaseOrder": {
                                      "type": "string"
                                    },
                                    "Vendor": {
                                      "type": "string"
                                    },
                                    "MovementType": {
                                      "type": "string"
                                    },
                                    "Material": {
                                      "type": "string"
                                    },
                                    "PostingDate": {
                                      "type": "string"
                                    },
                                    "FiscalYear": {
                                      "type": "string"
                                    },
                                    "MaterialDocument": {
                                      "type": "string"
                                    },
                                    "Location": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "PurchaseOrder",
                                    "Vendor",
                                    "MovementType",
                                    "Material",
                                    "PostingDate",
                                    "FiscalYear",
                                    "MaterialDocument",
                                    "Location"
                                  ]
                                }
                              },
                              "Names": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Vendor": {
                                      "type": "string"
                                    },
                                    "Name": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "Vendor",
                                    "Name"
                                  ]
                                }
                              },
                              "Status": {
                                "type": "string"
                              },
                              "Messages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Message": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "Message"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@length(outputs('Goods_Movement')?['body/Rows'])",
                      "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "df7a4b17-e8eb-4812-9a13-a13f220eda3d"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Set_SAPErrorMessage01": [
                  "Skipped",
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Information_Response": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "f251250a-1ea0-4ac0-86b8-d43839901c71"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "Status": "Information",
                        "List": [],
                        "Names": [],
                        "Messages": [
                          {
                            "Message": "No goods receipts found based on your search criteria."
                          }
                        ]
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "List": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "PurchaseOrder": {
                                  "type": "string"
                                },
                                "Vendor": {
                                  "type": "string"
                                },
                                "MovementType": {
                                  "type": "string"
                                },
                                "Material": {
                                  "type": "string"
                                },
                                "PostingDate": {
                                  "type": "string"
                                },
                                "FiscalYear": {
                                  "type": "string"
                                },
                                "MaterialDocument": {
                                  "type": "string"
                                },
                                "Location": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "PurchaseOrder",
                                "Vendor",
                                "MovementType",
                                "Material",
                                "PostingDate",
                                "FiscalYear",
                                "MaterialDocument",
                                "Location"
                              ]
                            }
                          },
                          "Names": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Vendor": {
                                  "type": "string"
                                },
                                "Name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Vendor",
                                "Name"
                              ]
                            }
                          },
                          "Status": {
                            "type": "string"
                          },
                          "Messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Message"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(outputs('Goods_Movement')?['body/Rows'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "94163bd5-3831-4135-8db4-cca78479e69e"
              },
              "type": "If"
            },
            "Set_SAPErrorMessage01": {
              "runAfter": {
                "Goods_Movement": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "e0ea2674-17b7-4c15-a5c1-163f4df4cd0f"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SAPErrorMessage",
                "value": "@{body('Goods_Movement')['error']['innerError']['error']['message']}"
              }
            }
          },
          "runAfter": {
            "Initialize_SystemUserID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "623d92c6-2bf4-4483-89c1-51e990ebe46c"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4ff6915-74dd-4ad8-aeb5-69689f7cd846"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "ErrorTable": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4543bb1-084d-4bd9-865a-d59ec8caa8fc"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Step",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Status",
                    "value": "@item()?['Status']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['code']"
                  },
                  {
                    "header": "InnerErrorMessage",
                    "value": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}@{variables('SAPErrorMessage')}"
                  },
                  {
                    "header": "Input",
                    "value": "@triggerBody()"
                  }
                ]
              }
            },
            "ErrorReturn": {
              "runAfter": {
                "ErrorTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ea00725-e758-40bb-9cc7-b69d0a65d01b"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "Code": "@item()?['code']",
                  "InnerErrorMessage": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']} @{item()?['error']?['message']} @{variables('SAPErrorMessage')}",
                  "Input": "@triggerBody()",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Error_Response": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "15c745c9-0aa0-47db-b7c6-9496409877e9"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Create_Integration_Log_Error": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65c53a8f-bba5-4aee-a2c2-1bbea7395180"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_saperrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_additionalinformation": "@triggerBody()['text']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420000,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']",
                  "item/mpa_workflowstatus": "@If(equals(item()?['Status'], 'Failed'), '865420001', '865420000')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Error_Response": {
              "runAfter": {
                "Create_Integration_Log_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a07fe00-c854-4b19-9f61-ff2091a0b894"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Status": "Error",
                  "Messages": [
                    {
                      "Message": "@outputs('Create_Integration_Log_Error')?['body/mpa_errormessage']"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "List": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "PurchaseOrder": {
                            "type": "string"
                          },
                          "Vendor": {
                            "type": "string"
                          },
                          "MovementType": {
                            "type": "string"
                          },
                          "Material": {
                            "type": "string"
                          },
                          "PostingDate": {
                            "type": "string"
                          },
                          "FiscalYear": {
                            "type": "string"
                          },
                          "MaterialDocument": {
                            "type": "string"
                          },
                          "Location": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "PurchaseOrder",
                          "Vendor",
                          "MovementType",
                          "Material",
                          "PostingDate",
                          "FiscalYear",
                          "MaterialDocument",
                          "Location"
                        ]
                      }
                    },
                    "Names": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Vendor": {
                            "type": "string"
                          },
                          "Name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Vendor",
                          "Name"
                        ]
                      }
                    },
                    "Status": {
                      "type": "string"
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Message"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "acddc208-94dd-4daf-9177-fa386ba1baec"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}