Solutions/mpa_SAPProcurement/src/Workflows/ReadGLAccount-9DF25EA5-81E0-ED11-A7C7-0022480492D7.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPERP"
        },
        "api": {
          "name": "shared_saperp"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Application Server (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "3c2c6dab-7dbb-435e-a7dd-898f88193de8"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "JSON",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_SAPErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b21088a4-ccc2-4c04-b4fc-e3dc767649f8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SAPErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "Parse_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "12f0f586-4295-4bdd-8329-522cf48feb2c"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "GLAccount": {
                      "type": "string"
                    },
                    "CompanyCode": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "GLAccount",
                    "CompanyCode"
                  ]
                }
              }
            },
            "Header": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c4a951cf-cc55-4699-98c9-a587c7379ccf"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp_1",
                  "operationId": "ReadTableVersion3",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "inputParameters/tableName": "SKA1",
                  "inputParameters/FieldNames": [
                    "KTOPL:Chart of Accounts",
                    "SAKNR:G/L Account Number",
                    "KTOKS:G/L Account Group",
                    "XBILK:Indicator: Account Is a Balance Sheet Account?",
                    "ERDAT:Date on which the Record Was Created",
                    "ERNAM:Name of Person who Created the Object"
                  ],
                  "inputParameters/RowCount": 1,
                  "inputParameters/WhereFilters": [
                    "KTOPL LIKE '%@{body('Parse_JSON')?['CompanyCode']}%' AND SAKNR LIKE '%@{body('Parse_JSON')?['GLAccount']}%'"
                  ]
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Condition": {
              "actions": {
                "Response": {
                  "runAfter": {
                    "Parse_Description": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3acb6b71-7516-4f46-82a7-fe87c0f4120b"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "Status": "Success",
                      "GLAccount": "@{body('Parse_JSON')?['GLAccount']}",
                      "CompanyCode": "@{body('Parse_JSON')?['CompanyCode']}",
                      "Header": "@union(body('Parse_Header')[0], body('Parse_CompanyCode')[0], body('Parse_Description')[0])"
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "Status": {
                          "type": "string"
                        },
                        "GLAccount": {
                          "type": "string"
                        },
                        "CompanyCode": {
                          "type": "string"
                        },
                        "Header": {
                          "type": "object",
                          "properties": {
                            "Chart": {
                              "type": "string"
                            },
                            "GLAccount": {
                              "type": "string"
                            },
                            "CreatedOn": {
                              "type": "string"
                            },
                            "CreatedBy": {
                              "type": "string"
                            },
                            "AccountGroup": {
                              "type": "string"
                            },
                            "BalanceSheetAccount": {
                              "type": "string"
                            },
                            "CompanyCode": {
                              "type": "string"
                            },
                            "FieldStatusGroup": {
                              "type": "string"
                            },
                            "Currency": {
                              "type": "string"
                            },
                            "SortKey": {
                              "type": "string"
                            },
                            "Description": {
                              "type": "string"
                            }
                          }
                        },
                        "Messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "Message"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "Parse_Header": {
                  "runAfter": {
                    "Description": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Header')?['body/Rows']",
                    "select": {
                      "Chart": "@item()?['KTOPL']",
                      "GLAccount": "@if(isInt(item()?['SAKNR']), string(int(item()?['SAKNR'])), item()?['SAKNR'])",
                      "CreatedOn": "@item()?['ERDAT']",
                      "CreatedBy": "@item()?['ERNAM']",
                      "AccountGroup": "@item()?['KTOKS']",
                      "BalanceSheetAccount": "@item()?['XBILK']"
                    }
                  }
                },
                "CompanyCode": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c4a951cf-cc55-4699-98c9-a587c7379ccf"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_saperp_1",
                      "operationId": "ReadTableVersion3",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                    },
                    "parameters": {
                      "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                      "inputParameters/tableName": "SKB1",
                      "inputParameters/FieldNames": [
                        "BUKRS:Company Code",
                        "WAERS:Account currency",
                        "FSTAG:Field status group",
                        "ZUAWA:Key for sorting according to assignment numbers"
                      ],
                      "inputParameters/RowCount": 1,
                      "inputParameters/WhereFilters": [
                        "BUKRS LIKE '%@{body('Parse_JSON')?['CompanyCode']}%' AND SAKNR LIKE '%@{body('Parse_JSON')?['GLAccount']}%'"
                      ]
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "none"
                    }
                  }
                },
                "Parse_CompanyCode": {
                  "runAfter": {
                    "Parse_Header": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('CompanyCode')?['body/Rows']",
                    "select": {
                      "CompanyCode": "@item()?['BUKRS']",
                      "FieldStatusGroup": "@item()?['FSTAG']",
                      "Currency": "@item()?['WAERS']",
                      "SortKey": "@item()?['ZUAWA']"
                    }
                  }
                },
                "Description": {
                  "runAfter": {
                    "CompanyCode": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c4a951cf-cc55-4699-98c9-a587c7379ccf"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_saperp_1",
                      "operationId": "ReadTableVersion3",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                    },
                    "parameters": {
                      "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                      "inputParameters/tableName": "SKAT",
                      "inputParameters/FieldNames": [
                        "TXT50:G/L Account Long Text"
                      ],
                      "inputParameters/RowCount": 1,
                      "inputParameters/WhereFilters": [
                        "KTOPL LIKE '%@{body('Parse_JSON')?['Company']}%' AND SAKNR LIKE '%@{body('Parse_JSON')?['GLAccount']}%'"
                      ]
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "none"
                    }
                  }
                },
                "Parse_Description": {
                  "runAfter": {
                    "Parse_CompanyCode": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Description')?['body/Rows']",
                    "select": {
                      "Description": "@item()?['TXT50']"
                    }
                  }
                }
              },
              "runAfter": {
                "Set_SAPErrorMessage01": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "else": {
                "actions": {
                  "Response_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "0e444872-e5c1-4764-880c-6c2baeb05cf7"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "Status": "Information",
                        "Messages": [
                          {
                            "Message": "GL Account @{body('Parse_JSON')?['GLAccount']} does not exist."
                          }
                        ]
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "Status": {
                            "type": "string"
                          },
                          "GLAccount": {
                            "type": "string"
                          },
                          "CompanyCode": {
                            "type": "string"
                          },
                          "Header": {
                            "type": "object",
                            "properties": {
                              "Chart": {
                                "type": "string"
                              },
                              "GLAccount": {
                                "type": "string"
                              },
                              "CreatedOn": {
                                "type": "string"
                              },
                              "CreatedBy": {
                                "type": "string"
                              },
                              "AccountGroup": {
                                "type": "string"
                              },
                              "BalanceSheetAccount": {
                                "type": "string"
                              },
                              "CompanyCode": {
                                "type": "string"
                              },
                              "FieldStatusGroup": {
                                "type": "string"
                              },
                              "Currency": {
                                "type": "string"
                              },
                              "SortKey": {
                                "type": "string"
                              },
                              "Description": {
                                "type": "string"
                              }
                            }
                          },
                          "Messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Message"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(outputs('Header')?['body/Rows'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "da1616ba-2830-4fbe-85b1-a97ea5aaa52e"
              },
              "type": "If"
            },
            "Set_SAPErrorMessage01": {
              "runAfter": {
                "Header": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce5d0c06-0fe6-4fc6-8645-10acf7f40f33"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SAPErrorMessage",
                "value": "@{body('Header')['error']['innerError']['error']['message']}"
              }
            }
          },
          "runAfter": {
            "Initialize_SAPErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ebf46705-e66a-4802-afaf-e4a07bd58626"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4ff6915-74dd-4ad8-aeb5-69689f7cd846"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'), equals(item()?['Status'], 'Skipped'))"
              }
            },
            "ErrorTable": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4543bb1-084d-4bd9-865a-d59ec8caa8fc"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Step",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Status",
                    "value": "@item()?['Status']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['code']"
                  },
                  {
                    "header": "InnerErrorMessage",
                    "value": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}\n@{variables('SAPErrorMessage')}"
                  },
                  {
                    "header": "Input",
                    "value": "@triggerBody()"
                  }
                ]
              }
            },
            "ErrorReturn": {
              "runAfter": {
                "ErrorTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ea00725-e758-40bb-9cc7-b69d0a65d01b"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "Code": "@item()?['code']",
                  "InnerErrorMessage": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}\n@{variables('SAPErrorMessage')}",
                  "Input": "@triggerBody()",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              }
            },
            "Create_Integration_Log_Error": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65c53a8f-bba5-4aee-a2c2-1bbea7395180"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_saperrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_additionalinformation": "@triggerBody()['text']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420000,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']",
                  "item/mpa_workflowstatus": "@If(equals(item()?['Status'], 'Failed'), '865420001', '865420000')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Response_3": {
              "runAfter": {
                "Create_Integration_Log_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a07fe00-c854-4b19-9f61-ff2091a0b894"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Status": "Error",
                  "Messages": [
                    {
                      "Message": "@outputs('Create_Integration_Log_Error')?['body/mpa_errormessage']"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string"
                    },
                    "GLAccount": {
                      "type": "string"
                    },
                    "CompanyCode": {
                      "type": "string"
                    },
                    "Header": {
                      "type": "object",
                      "properties": {
                        "Chart": {
                          "type": "string"
                        },
                        "GLAccount": {
                          "type": "string"
                        },
                        "CreatedOn": {
                          "type": "string"
                        },
                        "CreatedBy": {
                          "type": "string"
                        },
                        "AccountGroup": {
                          "type": "string"
                        },
                        "BalanceSheetAccount": {
                          "type": "string"
                        },
                        "CompanyCode": {
                          "type": "string"
                        },
                        "FieldStatusGroup": {
                          "type": "string"
                        },
                        "Currency": {
                          "type": "string"
                        },
                        "SortKey": {
                          "type": "string"
                        },
                        "Description": {
                          "type": "string"
                        }
                      }
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Message"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "acddc208-94dd-4daf-9177-fa386ba1baec"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}