Solutions/mpa_SAPProcurement/src/Workflows/ReadMaterialList-28D8AACF-21E5-ED11-A7C6-002248049AF9.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPERP"
        },
        "api": {
          "name": "shared_saperp"
        }
      },
      "shared_saperp_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPERP"
        },
        "api": {
          "name": "shared_saperp"
        }
      },
      "shared_commondataserviceforapps_1": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Application Server (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer",
            "description": "JSON string that contains system parameters, host, system number, client, etc."
          }
        },
        "SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)": {
          "defaultValue": 1000,
          "type": "Int",
          "metadata": {
            "schemaName": "mpa_SAPCountofRowsToRead",
            "description": "Sets the maximum number of records to be returned on any search query and helps to alleviate performance concerns"
          }
        },
        "SAP Language Key (mpa_SAPSPRAS)": {
          "defaultValue": "EN",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPSPRAS",
            "description": "Language Key from T002-SPRAS"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "30dd6b3e-58a0-4086-badd-d2ce3575b7a3"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "JSON",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Parse_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "12f0f586-4295-4bdd-8329-522cf48feb2c"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string"
                    },
                    "Description": {
                      "type": "string"
                    },
                    "Material": {
                      "type": "string"
                    },
                    "Location": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Material_Plant": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9c2202bb-c169-4df5-9030-81623eac01c4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp",
                  "operationId": "ReadTableVersion3",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "inputParameters/tableName": "V_OLR3_MARACKT",
                  "inputParameters/FieldNames": [
                    "MATNR:Material Number",
                    "MAKTX:Material Description",
                    "MTART:Material Type",
                    "WERKS:Plant",
                    "MAKTG:Material description in upper case for matchcodes",
                    "SPRAS:Language Key"
                  ],
                  "inputParameters/RowCount": "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')",
                  "inputParameters/WhereFilters": [
                    "SPRAS = '@{parameters('SAP Language Key (mpa_SAPSPRAS)')}'",
                    "AND MTART LIKE '%@{body('Parse_JSON')?['Type']}%'",
                    "AND MAKTG LIKE '%@{toUpper(body('Parse_JSON')?['Description'])}%'",
                    "AND (MATNR LIKE '%@{body('Parse_JSON')?['Material']}%'",
                    "OR MATNR  LIKE '%@{toUpper(body('Parse_JSON')?['Material'])}%'",
                    "OR MATNR  LIKE '%@{toLower(body('Parse_JSON')?['Material'])}%')",
                    "AND WERKS LIKE '%@{body('Parse_JSON')?['Location']}%'"
                  ]
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Parse_List": {
              "runAfter": {
                "Set_SAPErrorMessage01": [
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('Material_Plant')?['body/Rows']",
                "select": {
                  "MaterialNumber": "@if(isInt(item()?['MATNR']), string(int(item()?['MATNR'])), item()?['MATNR'])",
                  "Description": "@item()?['MAKTX']",
                  "Type": "@item()?['MTART']",
                  "Location": "@item()?['WERKS']"
                }
              }
            },
            "Check_Results": {
              "actions": {
                "Condition": {
                  "actions": {
                    "Warning_Response": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "204e2384-a734-489c-95b3-663d20ac20c5"
                      },
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "body": {
                          "Status": "Warning",
                          "List": "@body('Parse_List')",
                          "Material_UoM": "@body('Parse_List_2')",
                          "Messages": [
                            {
                              "Message": "The maximum number of @{parameters('SAP Application Server (mpa_SAPApplicationServer)')} search results were returned and there may be records missing. Try refining your search criteria."
                            }
                          ]
                        },
                        "schema": {
                          "type": "object",
                          "properties": {
                            "List": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "MaterialNumber": {
                                    "type": "string"
                                  },
                                  "Description": {
                                    "type": "string"
                                  },
                                  "Unit": {
                                    "type": "string"
                                  },
                                  "Location": {
                                    "type": "string"
                                  },
                                  "Type": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "MaterialNumber",
                                  "Description",
                                  "Location",
                                  "Type"
                                ]
                              }
                            },
                            "Material_UoM": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "MaterialNumber": {
                                    "type": "string"
                                  },
                                  "Description": {
                                    "type": "string"
                                  },
                                  "Unit": {
                                    "type": "string"
                                  },
                                  "Type": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "MaterialNumber",
                                  "Description",
                                  "Unit",
                                  "Type"
                                ]
                              }
                            },
                            "Status": {
                              "type": "string"
                            },
                            "Messages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Message": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "Message"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Success_Response": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3acb6b71-7516-4f46-82a7-fe87c0f4120b"
                        },
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 200,
                          "body": {
                            "Status": "Success",
                            "List": "@body('Parse_List')",
                            "Material_UoM": "@body('Parse_List_2')",
                            "Messages": [
                              {
                                "Message": "@{length(body('Parse_List'))} material(s) found based on your search criteria."
                              }
                            ]
                          },
                          "schema": {
                            "type": "object",
                            "properties": {
                              "List": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "MaterialNumber": {
                                      "type": "string"
                                    },
                                    "Description": {
                                      "type": "string"
                                    },
                                    "Unit": {
                                      "type": "string"
                                    },
                                    "Location": {
                                      "type": "string"
                                    },
                                    "Type": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "MaterialNumber",
                                    "Description",
                                    "Location",
                                    "Type"
                                  ]
                                }
                              },
                              "Material_UoM": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "MaterialNumber": {
                                      "type": "string"
                                    },
                                    "Description": {
                                      "type": "string"
                                    },
                                    "Unit": {
                                      "type": "string"
                                    },
                                    "Type": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "MaterialNumber",
                                    "Description",
                                    "Unit",
                                    "Type"
                                  ]
                                }
                              },
                              "Status": {
                                "type": "string"
                              },
                              "Messages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Message": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "Message"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@length(outputs('Material_UoM')?['body/Rows'])",
                      "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "88d74ca7-b4bb-4911-860f-2c64024853dd"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Parse_List_2": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "else": {
                "actions": {
                  "Information_Response": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "d031092d-e467-4dd3-b299-581dea269679"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "Status": "Information",
                        "Messages": [
                          {
                            "Message": "No materials found based on your search criteria."
                          }
                        ]
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "List": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "MaterialNumber": {
                                  "type": "string"
                                },
                                "Description": {
                                  "type": "string"
                                },
                                "Unit": {
                                  "type": "string"
                                },
                                "Location": {
                                  "type": "string"
                                },
                                "Type": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "MaterialNumber",
                                "Description",
                                "Location",
                                "Type"
                              ]
                            }
                          },
                          "Material_UoM": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "MaterialNumber": {
                                  "type": "string"
                                },
                                "Description": {
                                  "type": "string"
                                },
                                "Unit": {
                                  "type": "string"
                                },
                                "Type": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "MaterialNumber",
                                "Description",
                                "Unit",
                                "Type"
                              ]
                            }
                          },
                          "Status": {
                            "type": "string"
                          },
                          "Messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Message"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(outputs('Material_UoM')?['body/Rows'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "01735b9d-ff56-4338-b50f-c5e2eed73b30"
              },
              "type": "If"
            },
            "Set_SAPErrorMessage01": {
              "runAfter": {
                "Material_Plant": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce5d0c06-0fe6-4fc6-8645-10acf7f40f33"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SAPErrorMessage",
                "value": "@{body('Material_Plant')['error']['innerError']['error']['message']}"
              }
            },
            "Parse_List_2": {
              "runAfter": {
                "Material_UoM": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
              },
              "type": "Select",
              "inputs": {
                "from": "@outputs('Material_UoM')?['body/Rows']",
                "select": {
                  "MaterialNumber": "@if(isInt(item()?['MATNR']), string(int(item()?['MATNR'])), item()?['MATNR'])",
                  "Description": "@item()?['MAKTX']",
                  "Unit": "@item()?['MEINS']",
                  "Type": "@item()?['MTART']"
                }
              }
            },
            "Material_UoM": {
              "runAfter": {
                "Parse_List": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9c2202bb-c169-4df5-9030-81623eac01c4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp_1",
                  "operationId": "ReadTableVersion3",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "inputParameters/tableName": "ENT1027",
                  "inputParameters/FieldNames": [
                    "MATNR:Material Number",
                    "MAKTX:Material Description",
                    "MEINS:Base Unit of Measure",
                    "MTART:Material Type"
                  ],
                  "inputParameters/RowCount": "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')",
                  "inputParameters/WhereFilters": [
                    "SPRAS = '@{parameters('SAP Language Key (mpa_SAPSPRAS)')}'",
                    "AND MTART LIKE '%@{body('Parse_JSON')?['Type']}%'",
                    "AND MAKTG LIKE '%@{toUpper(body('Parse_JSON')?['Description'])}%'",
                    "AND (MATNR LIKE '%@{body('Parse_JSON')?['Material']}%'",
                    "OR MATNR LIKE '%@{toUpper(body('Parse_JSON')?['Material'])}%'",
                    "OR MATNR LIKE '%@{toLower(body('Parse_JSON')?['Material'])}%')"
                  ]
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_SAPErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c7560dea-dcf1-4b22-98dc-6721c1c62293"
          },
          "type": "Scope"
        },
        "Initialize_SAPErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b21088a4-ccc2-4c04-b4fc-e3dc767649f8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SAPErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4ff6915-74dd-4ad8-aeb5-69689f7cd846"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'), equals(item()?['Status'], 'Skipped'))"
              }
            },
            "ErrorTable": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4543bb1-084d-4bd9-865a-d59ec8caa8fc"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Step",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Status",
                    "value": "@item()?['Status']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['code']"
                  },
                  {
                    "header": "InnerErrorMessage",
                    "value": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}\n@{variables('SAPErrorMessage')}"
                  },
                  {
                    "header": "Input",
                    "value": "@triggerBody()"
                  }
                ]
              }
            },
            "ErrorReturn": {
              "runAfter": {
                "ErrorTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ea00725-e758-40bb-9cc7-b69d0a65d01b"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "Code": "@item()?['code']",
                  "InnerErrorMessage": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}\n@{variables('SAPErrorMessage')}",
                  "Input": "@triggerBody()",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              }
            },
            "Create_Integration_Log_Error": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65c53a8f-bba5-4aee-a2c2-1bbea7395180"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_saperrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_additionalinformation": "@triggerBody()['text']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420000,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']",
                  "item/mpa_workflowstatus": "@If(equals(item()?['Status'], 'Failed'), '865420001', '865420000')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Error_Response": {
              "runAfter": {
                "Create_Integration_Log_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a07fe00-c854-4b19-9f61-ff2091a0b894"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Status": "Error",
                  "Messages": [
                    {
                      "Message": "@outputs('Create_Integration_Log_Error')?['body/mpa_errormessage']"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "List": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "MaterialNumber": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "Unit": {
                            "type": "string"
                          },
                          "Location": {
                            "type": "string"
                          },
                          "Type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "MaterialNumber",
                          "Description",
                          "Location",
                          "Type"
                        ]
                      }
                    },
                    "Material_UoM": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "MaterialNumber": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "Unit": {
                            "type": "string"
                          },
                          "Type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "MaterialNumber",
                          "Description",
                          "Unit",
                          "Type"
                        ]
                      }
                    },
                    "Status": {
                      "type": "string"
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Message"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Error_Response": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0436be04-d716-43af-b108-261fb01dbd87"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "acddc208-94dd-4daf-9177-fa386ba1baec"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}