Solutions/mpa_SAPProcurement/src/Workflows/ReadVendorInvoiceList-5BE20792-8600-EE11-8F6E-0022480492D7.json
{
  "properties": {
    "connectionReferences": {
      "shared_saperp": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPERP"
        },
        "api": {
          "name": "shared_saperp"
        }
      },
      "shared_commondataserviceforapps_1": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_SAPDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SAP Application Server (mpa_SAPApplicationServer)": {
          "defaultValue": "{\"AppServerHost\":\"sap.clearsoftware.com\",\"Client\":\"100\",\"SystemNumber\":\"00\",\"LogonType\":\"ApplicationServer\"}",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_SAPApplicationServer",
            "description": "JSON string that contains system parameters, host, system number, client, etc."
          }
        },
        "SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)": {
          "defaultValue": 1000,
          "type": "Int",
          "metadata": {
            "schemaName": "mpa_SAPCountofRowsToRead",
            "description": "Sets the maximum number of records to be returned on any search query and helps to alleviate performance concerns"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "0f346208-bcd9-40d2-9bad-e53aa88463d1"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "JSON",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Parse_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "12f0f586-4295-4bdd-8329-522cf48feb2c"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string"
                    },
                    "DateFrom": {
                      "type": "string"
                    },
                    "DateTo": {
                      "type": "string"
                    },
                    "CompanyCode": {
                      "type": "string"
                    },
                    "Vendor": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "RBKP": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2392b400-fd77-48e1-96ea-5877348bfa53"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_saperp",
                  "operationId": "ReadTableVersion3",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                },
                "parameters": {
                  "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                  "inputParameters/tableName": "RBKP",
                  "inputParameters/FieldNames": [
                    "BELNR:Document Number of an Invoice Document",
                    "BLART:Document Type",
                    "LIFNR:Different Invoicing Party",
                    "BUDAT:Posting Date in the Document",
                    "RMWWR:Gross invoice amount in document currency",
                    "WAERS:Currency Key",
                    "BUKRS:Company Code"
                  ],
                  "inputParameters/RowCount": "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')",
                  "inputParameters/WhereFilters": [
                    "BLART LIKE '%@{body('Parse_JSON')?['Type']}%'",
                    "AND LIFNR LIKE '%@{body('Parse_JSON')?['Vendor']}%'",
                    "AND BUDAT BETWEEN '@{if(equals(body('Parse_JSON')?['DateFrom'],''),'19000101',body('Parse_JSON')?['DateFrom'])}' AND '@{if(equals(body('Parse_JSON')?['DateTo'],''),'99991231',body('Parse_JSON')?['DateTo'])}'",
                    "AND BUKRS LIKE '%@{body('Parse_JSON')?['CompanyCode']}%'",
                    "AND RBSTAT NE '2'"
                  ]
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Condition": {
              "actions": {
                "Parse_List": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('RBKP')?['body/Rows']",
                    "select": {
                      "Type": "@item()?['BLART']",
                      "Vendor": "@if(isInt(item()?['LIFNR']), string(int(item()?['LIFNR'])), item()?['LIFNR'])",
                      "CreatedOn": "@item()?['BUDAT']",
                      "InvoiceNumber": "@item()?['BELNR']",
                      "Amount": "@float(item()?['RMWWR'])",
                      "Currency": "@item()?['WAERS']",
                      "VendorRaw": "@item()?['LIFNR']",
                      "CompanyCode": "@item()?['BUKRS']"
                    }
                  }
                },
                "Prepare_IN_Statement": {
                  "runAfter": {
                    "Parse_List": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0cd3f82c-b6aa-450b-9d43-d5e9c1f75a2a"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Parse_List')",
                    "select": "@concat('''', item()?['VendorRaw'], '''', ',')"
                  }
                },
                "Finalize_IN_Statement": {
                  "runAfter": {
                    "Prepare_IN_Statement": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "42c0b6dd-26a1-41e9-b4a7-8d91fc33dd16"
                  },
                  "type": "Compose",
                  "inputs": "@union(json('[\"LIFNR IN (\"]'), body('Prepare_IN_Statement'), json('[\")\"]'))"
                },
                "Vendor_Names": {
                  "runAfter": {
                    "Finalize_IN_Statement": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f4dcb4ce-fd4c-46dc-98e6-5481c066aa43"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_saperp",
                      "operationId": "ReadTableVersion3",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_saperp"
                    },
                    "parameters": {
                      "x-ms-sap-system": "@parameters('SAP Application Server (mpa_SAPApplicationServer)')",
                      "inputParameters/tableName": "LFA1",
                      "inputParameters/FieldNames": [
                        "LIFNR:Account Number of Vendor or Creditor",
                        "NAME1:Name 1"
                      ],
                      "inputParameters/RowCount": "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')",
                      "inputParameters/WhereFilters": "@outputs('Finalize_IN_Statement')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Parse_Vendors": {
                  "runAfter": {
                    "Vendor_Names": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6003c2e5-4622-4651-a22c-4f9c695bbac0"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Vendor_Names')?['body/Rows']",
                    "select": {
                      "Vendor": "@if(isInt(item()?['LIFNR']), string(int(item()?['LIFNR'])), item()?['LIFNR'])",
                      "Name": "@item()?['NAME1']"
                    }
                  }
                },
                "Check_Max_Results": {
                  "actions": {
                    "Warning_Response": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "b923f16f-f3af-479e-8463-1432abf5b425"
                      },
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "body": {
                          "Status": "Warning",
                          "List": "@body('Parse_List')",
                          "Names": "@body('Parse_Vendors')",
                          "Messages": [
                            {
                              "Message": "The maximum number of @{parameters('SAP Application Server (mpa_SAPApplicationServer)')} search results were returned and there may be records missing. Try refining your search criteria."
                            }
                          ]
                        },
                        "schema": {
                          "type": "object",
                          "properties": {
                            "List": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Type": {
                                    "type": "string"
                                  },
                                  "Vendor": {
                                    "type": "string"
                                  },
                                  "CreatedOn": {
                                    "type": "string"
                                  },
                                  "InvoiceNumber": {
                                    "type": "string"
                                  },
                                  "Currency": {
                                    "type": "string"
                                  },
                                  "Amount": {
                                    "type": "number"
                                  },
                                  "CompanyCode": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "Type",
                                  "Vendor",
                                  "CreatedOn",
                                  "InvoiceNumber",
                                  "Amount"
                                ]
                              }
                            },
                            "Names": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Vendor": {
                                    "type": "string"
                                  },
                                  "Name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "Vendor",
                                  "Name"
                                ]
                              }
                            },
                            "Status": {
                              "type": "string"
                            },
                            "Messages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Message": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "Message"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Parse_Vendors": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Success_Response": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3acb6b71-7516-4f46-82a7-fe87c0f4120b"
                        },
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 200,
                          "body": {
                            "Status": "Success",
                            "List": "@body('Parse_List')",
                            "Names": "@body('Parse_Vendors')",
                            "Messages": [
                              {
                                "Message": "@{length(body('Parse_List'))} vendor invoice(s) found based on your search criteria."
                              }
                            ]
                          },
                          "schema": {
                            "type": "object",
                            "properties": {
                              "List": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Type": {
                                      "type": "string"
                                    },
                                    "Vendor": {
                                      "type": "string"
                                    },
                                    "CreatedOn": {
                                      "type": "string"
                                    },
                                    "InvoiceNumber": {
                                      "type": "string"
                                    },
                                    "Currency": {
                                      "type": "string"
                                    },
                                    "Amount": {
                                      "type": "number"
                                    },
                                    "CompanyCode": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "Type",
                                    "Vendor",
                                    "CreatedOn",
                                    "InvoiceNumber",
                                    "Amount"
                                  ]
                                }
                              },
                              "Names": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Vendor": {
                                      "type": "string"
                                    },
                                    "Name": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "Vendor",
                                    "Name"
                                  ]
                                }
                              },
                              "Status": {
                                "type": "string"
                              },
                              "Messages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Message": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "Message"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@length(outputs('RBKP')?['body/Rows'])",
                      "@parameters('SAP Count of Rows To Read (mpa_SAPCountofRowsToRead)')"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ac9a78b9-b5ef-48db-9f08-34bbf368f8bf"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Set_SAPErrorMessage01": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "else": {
                "actions": {
                  "Information_Response": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "1a6a78bb-0646-4b0d-a67c-606b4205016c"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "Status": "Information",
                        "List": [],
                        "Names": [],
                        "Messages": [
                          {
                            "Message": "No vendor invoices found based on your search criteria."
                          }
                        ]
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "List": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Type": {
                                  "type": "string"
                                },
                                "Vendor": {
                                  "type": "string"
                                },
                                "CreatedOn": {
                                  "type": "string"
                                },
                                "InvoiceNumber": {
                                  "type": "string"
                                },
                                "Currency": {
                                  "type": "string"
                                },
                                "Amount": {
                                  "type": "number"
                                },
                                "CompanyCode": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Type",
                                "Vendor",
                                "CreatedOn",
                                "InvoiceNumber",
                                "Amount"
                              ]
                            }
                          },
                          "Names": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Vendor": {
                                  "type": "string"
                                },
                                "Name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Vendor",
                                "Name"
                              ]
                            }
                          },
                          "Status": {
                            "type": "string"
                          },
                          "Messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Message"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(outputs('RBKP')?['body/Rows'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "c444d2ec-7804-41cb-ae77-b0d92d09138c"
              },
              "type": "If"
            },
            "Set_SAPErrorMessage01": {
              "runAfter": {
                "RBKP": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce5d0c06-0fe6-4fc6-8645-10acf7f40f33"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SAPErrorMessage",
                "value": "@{body('RBKP')['error']['innerError']['error']['message']}"
              }
            }
          },
          "runAfter": {
            "Initialize_SAPErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8e78e3cf-e051-434b-b3f9-208c53d8b75c"
          },
          "type": "Scope"
        },
        "Initialize_SAPErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6a6087f9-b1aa-4966-9ea5-0f695d638f87"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SAPErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4ff6915-74dd-4ad8-aeb5-69689f7cd846"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'), equals(item()?['Status'], 'Skipped'))"
              }
            },
            "ErrorTable": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4543bb1-084d-4bd9-865a-d59ec8caa8fc"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Step",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Status",
                    "value": "@item()?['Status']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['code']"
                  },
                  {
                    "header": "InnerErrorMessage",
                    "value": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}\n@{variables('SAPErrorMessage')}"
                  },
                  {
                    "header": "Input",
                    "value": "@triggerBody()"
                  }
                ]
              }
            },
            "ErrorReturn": {
              "runAfter": {
                "ErrorTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ea00725-e758-40bb-9cc7-b69d0a65d01b"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array')",
                "select": {
                  "Step": "@item()?['name']",
                  "Status": "@item()?['Status']",
                  "Code": "@item()?['code']",
                  "InnerErrorMessage": "@{item()?['outputs']?['body']?['error']?['innerError']?['error']?['message']}@{item()?['error']?['message']}\n@{variables('SAPErrorMessage')}",
                  "Input": "@triggerBody()",
                  "FlowName": "@workflow()?['tags']['flowDisplayName']",
                  "URL": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                }
              }
            },
            "Error_Response": {
              "runAfter": {
                "Create_Integration_Log_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a07fe00-c854-4b19-9f61-ff2091a0b894"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Status": "Error",
                  "Messages": [
                    {
                      "Message": "@outputs('Create_Integration_Log_Error')?['body/mpa_errormessage']"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "List": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Type": {
                            "type": "string"
                          },
                          "Vendor": {
                            "type": "string"
                          },
                          "CreatedOn": {
                            "type": "string"
                          },
                          "InvoiceNumber": {
                            "type": "string"
                          },
                          "Currency": {
                            "type": "string"
                          },
                          "Amount": {
                            "type": "number"
                          },
                          "CompanyCode": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Type",
                          "Vendor",
                          "CreatedOn",
                          "InvoiceNumber",
                          "Amount"
                        ]
                      }
                    },
                    "Names": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Vendor": {
                            "type": "string"
                          },
                          "Name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Vendor",
                          "Name"
                        ]
                      }
                    },
                    "Status": {
                      "type": "string"
                    },
                    "Messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "Message"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Create_Integration_Log_Error": {
              "runAfter": {
                "ErrorReturn": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65c53a8f-bba5-4aee-a2c2-1bbea7395180"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mpa_saperrors",
                  "item/mpa_name": "@outputs('ErrorReturn')?['body'][0]['FlowName']",
                  "item/mpa_action": "@outputs('ErrorReturn')?['body'][0]['Step']",
                  "item/mpa_additionalinformation": "@triggerBody()['text']",
                  "item/mpa_errormessage": "@outputs('ErrorReturn')?['body'][0]['InnerErrorMessage']",
                  "item/mpa_sourcetype": 865420000,
                  "item/mpa_workflowinstanceurl": "@outputs('ErrorReturn')?['body'][0]['URL']",
                  "item/mpa_workflowstatus": "@If(equals(item()?['Status'], 'Failed'), '865420001', '865420000')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Error_Response": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4aae0a48-46e7-43d4-bb0b-8c9b5d3dd9f3"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "acddc208-94dd-4daf-9177-fa386ba1baec"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}